[2017-02-03 17:11] markwilliamfirth opened #1 "New Router"
**Issue migrated from hq to quietspace**

Links to:
https://github.com/dwyl/hq/issues/195
https://github.com/dwyl/hq/issues/135

Previous issue: https://github.com/dwyl/hq/issues/197

New router required for Quietspace, current router has a security issue.

**Nelson's advice:**
LinkSys WRT is the _only_ option for security as it uses Open Source firmware which we can update when a security patch i

[2017-02-03 20:15] iteles commented on #1
Validated. Only to be done once we have taken over the lease at QS.

[2017-02-03 21:58] iteles opened #2 "Environment at QS"
Originally created by @Jbarget with the following list:

An issue dedicated to making number 16 a clean, organised environment to work:

- [ ] [Coat hooks](https://www.amazon.co.uk/Headbourne-Azhr0644-6-Heavy-Chrome-Wooden/dp/B00BWS3ZEC/ref=sr_1_50?ie=UTF8&qid=1484586360&sr=8-50&keywords=coat+hooks)
- [ ] Dish rack - measurements needed!
- [x] Towel bin (for dirty towels to be washed)
- [ ] Shelve

[2017-02-03 22:02] iteles opened #3 "Remove broken fridge"
We have a broken fridge at QS which we need to get rid of.

The home collections service as discovered by Justen is: http://www.towerhamlets.gov.uk/lgnl/environment_and_planning/recycling_and_waste/recycling_and_waste_at_home/large_items.aspx

[2017-02-03 22:37] nelsonic commented on #3
@iteles agreed. it's a `#fail`
happy to help get this done on Monday morning...

[2017-02-04 10:59] sohilpandya opened #4 "Monitor Stands for clean desks at QuietSpace"
Following on from the conversation that has taken place here in this [issue](https://github.com/dwyl/hq/issues/196#issuecomment-27737239)

We'd also like to enforce a clean desk policy downstairs ( I am a big culprit of this one 😟), but if we had some sort of cable management in place as well as having boxes like in no. 14 (upstairs) where people can put their random bits in, we'd probably be clos

[2017-02-07 12:21] markwilliamfirth opened #5 "Create Terms of Use / Code of Conduct"
For all using the co-working area to agree to

[2017-02-07 12:23] iteles commented on #5
I would like to see some of this incorporated (if not all, I haven't reviewed it for a few months and some might be summer specific): https://github.com/dwyl/summer/blob/59d6ec4a4b7414ac32b31497b1f0091cb3979c75/code-of-conduct.md

[2017-02-07 12:42] markwilliamfirth opened #6 "Update Google Maps"
Update Google Maps with Quietspace replacing FOUNDER

[2017-02-08 13:29] sohilpandya opened #7 "Charity Winter Clothing: Wrap up in the UK"
We've got a box of jackets which have been around in the space for the last month of so, we need to either figure out if we can send it to a charity or contact Wrap up in the UK to come and collect it.

![img_7131](https://cloud.githubusercontent.com/assets/2305591/22739163/5dc6e2a2-ee02-11e6-87dc-eedcd8b003a2.JPG)

[2017-02-08 13:36] sohilpandya opened #8 "Voice Recording (soundproof) Studio"
Would it be possible to convert the unused shower room to a Voice Recording Studio? (great idea courtesy of @nelsonic)

Currently, it looks like:
![img_9711](https://cloud.githubusercontent.com/assets/2305591/22739391/5ca42fdc-ee03-11e6-9b7a-1aa02ce672a8.JPG)

Few questions before we can even think of turning it into a recording studio:
- Can we demolish the shower? Or will we have to build around

[2017-02-08 13:40] sohilpandya opened #9 "Mini Dyson for QS"
Another suggestion is to get a hoover for QS so we can do some cleaning up of the space.

**Do we need it?**

<img width="493" alt="screen shot 2017-02-08 at 13 38 19" src="https://cloud.githubusercontent.com/assets/2305591/22739525/e5199302-ee03-11e6-886c-a1c2d9b319d6.png">

https://www.amazon.co.uk/Dyson-Multi-Handheld-Vacuum-Longer/dp/B005D74498/ref=sr_1_1?ie=UTF8&qid=1486561053&sr=8-1&keywords

[2017-02-08 14:10] nelsonic commented on #8
@sohilpandya _thank you_ for raising this issue for discussion. 😍
I don't think removing the shower will be an `<option>` the landlord will _consider_.
But we can install ["Acoustic Foam"](https://github.com/nelsonic/g8/issues/18) to (_sound_) insulate the room and make it a _bookable_ recording studio which we use for video-editing and voice-over work
(_provided it does not "leak" sound_)

Hope y

[2017-02-08 14:12] iteles commented on #9
😆 Why a *Dyson* specifically?

[2017-02-08 14:13] nelsonic commented on #9
@iteles is there a _credible_ alternative? 😉

[2017-02-08 14:13] iteles commented on #7
I'm on this! It's very much a WTF moment. 👍 Thanks for raising!

[2017-02-08 15:03] nelsonic opened #10 "New (Standard) Monitors for All Desks in QS"
## Why?

Running a QuietSpace<sup>TM</sup> for Creative Professionals means having monitors _available_ for people. Keeping those monitors consistent is _essential_ for guaranteeing quality.
Also, having a ["hodge-podge"](https://en.wikipedia.org/wiki/Hodge-podge) of different monitors looks untidy/inconsistent/unprofessional.

## What?

Great monitors for focussed creative activites (_coding, des

[2017-02-08 23:47] sohilpandya commented on #10
Thanks for the awesome issue @nelsonic, puts my mind in a better place to think about the awesome future.

I do ❤️ the idea, but here are my concerns:
- Having too many monitors will make QS look a bit packed. Especially if we have 20+ monitors
- We don't want the space to look/feel like an office, we still want it to look/feel spacious.
Just my opinions on it.

What are your thoughts on fewer mon

[2017-02-08 23:50] sohilpandya commented on #9
Do you guys think we also need a rota for bin, dishes and vacuuming on a frequent basis (every two days ❓)

[2017-02-08 23:54] sohilpandya commented on #6
I know we're talking about this, but have we had discussions with the current leaseholders(Founders) about changing the name? @nelsonic @markwilliamfirth @iteles

I'm sure there is an issue about No. 16, taking over everything and calling it QS. (_help me find it!_ 😨)

[2017-02-09 00:10] sohilpandya opened #11 "Lighting for No. 16."
This is a continuation of the issue initiated in [DWYL HQ Repo](https://github.com/dwyl/hq/issues/156)

Having had a chat with @iteles we need a solution (and potentially a quick one) for the lighting downstairs prior to the first workshop which is taking place very soon.

I've found these lights, which I feel would work very well:

[Phillips 1](http://www.philips.co.uk/c-p/910925863454/coralcare-

[2017-02-09 02:34] nelsonic commented on #4
I _suggest_ that we get one of these per desk section. (_4 per desk downstairs_)
https://www.amazon.co.uk/VonHaus-Powered-Monitor-Bracket-Rotation/dp/B01H3UOXQ6/
![image](https://cloud.githubusercontent.com/assets/194400/22766899/faf85bec-ee6f-11e6-9fbf-075789bd7db4.png)

All cables are "_fed_ through the tube so it keeps the desk(s) nice an tidy
and there are a couple of USB ports in the base whi

[2017-02-09 02:35] nelsonic commented on #10
@sohilpandya I'm a _fan_ of having the place _feel_ spacious. 👍
Cables will all be super tidy as they will be "fed" through the Gas Lift Stand: https://github.com/dwyl/quietspace/issues/4#issuecomment-278529643

[2017-02-09 09:40] sohilpandya commented on #10
We can certainly try this on one of the desks downstairs and see how we feel about it. Worth ordering a couple of the stands and then testing the setup out?

We can test with the current set of monitors that we have.

[2017-02-09 09:40] sohilpandya commented on #4
They do look good! worth getting a couple and testing it out?

[2017-02-09 09:40] sohilpandya commented on #4
oops! didn't mean to close it. 😟

[2017-02-09 10:16] markwilliamfirth commented on #6
@sohilpandya as far as I understand FOUNDER no longer operates at No. 16 and the current leaseholder is `QUIETSPACE LIMITED`, of which Inês and Dan are directors. @iteles can we confirm we're able to progress?

[2017-02-09 10:20] markwilliamfirth opened #12 "(1) quietspace / (2) Quietspace / (3) QuietSpace / (4) Quiet Space?"
Seen some variations around...

Any thoughts @iteles?

[2017-02-09 10:27] markwilliamfirth opened #13 "Office Cleanliness"
We need to decide how we're going to keep the office clean. A few options:

1. Dedicated person working on-site in charge of cleaning (either a developer, myself or Inês?)

2. Rota system everyone who works in the office follows (suggested by @sohilpandya #9  )

3. We hire a cleaner to come to the office on a regular basis

4. Everyone is responsible for cleanliness and we enforce a set of rules t

[2017-02-09 10:29] markwilliamfirth opened #14 "Update QS repo labels"

[2017-02-09 10:37] nelsonic commented on #4
@sohilpandya (_& anyone `else` interested in this..._)
What are your thoughts ordering **One Stand** and **Two Monitors** to ***test*** it out the idea ...
Then we would (_informally_) track if the New Monitors on Gas Lift Stands get used ...
If they get used often (_like every day_) then we can order _moar_ as needed.

[2017-02-09 11:04] nelsonic commented on #10
@sohilpandya I don't think _that_ many of our _current_ monitors have **VESA _mounting_ holes** ...
(_which is an **annoying** oversight..._) but we _could_ test using the two illama ProLite 27" we got last year (_currently being used on the standing desks_).

I _contacted_ AOC to inquire about getting a "Bulk Discount" for ordering multiples of the **Q2778VQE** (27" QHD) Monitors (_see above_) an

[2017-02-09 12:42] markwilliamfirth commented on #4
One set to test out sounds like an awesome idea 👍

[2017-02-09 12:49] sohilpandya commented on #10
@nelsonic I don't think we need to buy any monitors at this point in time, you are absolutely right in that we need a **Business Plan** before we go on a spending spree.

Although I do like this "un-branded" monitor, Social Panda has a lot on its plate and will have a ton of amazing things coming out in the next few weeks 🎉. The monitor can wait until we have a solid Business Plan.

For the **futu

[2017-02-09 12:57] sohilpandya commented on #4
I just have this gut feeling that stands don't look good for some reason and have a slight reservation about it. 😟 We can certainly try the above by getting one to test out.

This photo is very close to my dream desk setup. 😍
![](http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/10/LG-Ultrafine-5K.jpg)
- no monitor stands, just monitors that are height adjustable (we have iiyama Monitors tha

[2017-02-09 13:04] sohilpandya commented on #6
I am sorry for not being in the loop, but I was under the impression that Founders still operate from the space, as I was speaking to one of their part-time employees (just yesterday) who comes in on a regular basis to collect mail and also sign contracts with their clients.

@markwilliamfirth @iteles @nelsonic

[2017-02-09 13:21] iteles commented on #12
Definitely QuietSpace is my favourite (and how it looks in my mind)

[2017-02-09 13:33] Jbarget commented on #4
Im a big believer in the less floor space (or in this case desk space) that is covered, the cleaner an area looks. So personally i think stands could be a good way to make the desks seem clearer

@sohilpandya there are no wires in that picture and typically wires are the worst offenders in making a workspace looking messy. The stand that @nelsonic is suggesting above contains all the wires in the

[2017-02-09 13:58] markwilliamfirth commented on #6
ooh interesting - @iteles can update us all 👍

[2017-02-09 14:58] markwilliamfirth commented on #12
No objections - I will update the README.md!

[2017-02-09 14:58] #12 closed

[2017-02-09 15:44] iteles commented on #6
I'm on this! :+1:

[2017-02-09 17:42] nelsonic opened #16 "Sell "Old" Monitors on eBay?"
The "old" monitors (_e.g: the Apple Cinema Display featured in the F&C video_)
[![image](https://cloud.githubusercontent.com/assets/194400/22718782/226173de-ed9a-11e6-9d9f-7a7067fbf596.png)](https://www.youtube.com/watch?v=hTE_4np-cko)
need to be _assessed_ for "_fit for purpose_" and if they are no longer being used _daily_, they should be sold (_for what ever we can get for them_) on eBay ASAP.

[2017-02-09 17:57] nelsonic opened #17 "QuietSpace Door Sign?"
should we either
[code]
***or***
[code]
@jackcarlisle we'll need your _help_ making the sign. (_you up for the challenge_?)

[2017-02-09 18:06] nelsonic commented on #4
@sohilpandya
![image](https://cloud.githubusercontent.com/assets/194400/22796427/2a05ce74-eef2-11e6-81cd-f40269005ebc.png)
Let's _make_ https://github.com/dwyl/quietspace/issues/8 the **_ultimate_ video editing room** for you and @markwilliamfirth to work your magic! 😉
we can bring down my _good_ speakers so you can have "monitor" audio... 👂

[2017-02-10 06:23] nelsonic commented on #14
@markwilliamfirth have you seen: https://github.com/dwyl/labels which allows you to `sync` lables from one repo to another? 😉  (_courtesy of @jrans & @jackcarlisle ..._) ❤️  ✅  🚀

[2017-02-10 06:25] nelsonic commented on #7
@iteles this is like the "_broken window_" in QS ... https://en.wikipedia.org/wiki/Broken_windows_theory 😞

[2017-02-10 08:55] nelsonic commented on #11
@sohilpandya these all look _great_ (_to me_). _however_...
yesterday through conversation with a couple of people (_totally unscientific_!)
we determined that ***not everyone*** likes "white light".
`.some` people feel that it's "_like a hospital_"...
(_to be clear: I love white light because it feels "clean" to me and that's what I need to **focus**_)
we need to take into _account_ that differen

[2017-02-10 09:33] nelsonic commented on #13
@markwilliamfirth I think I might have a _compelling_ solution to this challenge with Biz#5 ... 😉

[2017-02-10 10:13] iteles commented on #7
This is why: http://www.handsonlondon.org.uk/wrap-uplondon/

It's a Hands On thing.

So the steps here are:
+ [ ] Tidy out the clutter from the area next to the bookshelves upstairs
+ [ ] Ines to have a conversation with the Hands On people

[2017-02-10 10:14] jackcarlisle commented on #17
@nelsonic absolutely! First thing we'll need is a high-res (vector) image of the sign and lettering. If we don't have one I can make one with Illustrator

[2017-02-10 15:20] markwilliamfirth commented on #14
Completed 👍

[2017-02-10 15:20] #14 closed

[2017-02-11 03:36] nelsonic commented on #17
@jackcarlisle I don't _think_ there is a vector image for the logo.
Perhaps speak to @iteles about this next week... 👍
also related to: https://github.com/dwyl/quietspace/issues/6#issuecomment-278502011

[2017-02-11 13:53] jackcarlisle commented on #17
@nelsonic sounds good, will do!

[2017-02-11 14:11] iteles commented on #17
There isn't even a logo for QS. Let's catch up on this next week because I'm not sure the Founder London branding can be removed yet.

[2017-02-11 15:13] nelsonic commented on #17
@iteles yeah, hence the "_either_" in the issue description...
`while` I think it kinda diminishes the QS idea to have dual branding with FL...
it all depends on https://github.com/dwyl/quietspace/issues/6#issuecomment-278680380
I'm in favour of a _simple_ Text-based Sign with a simple legible font e.g: https://fonts.google.com/specimen/Josefin+Sans
![image](https://cloud.githubusercontent.com/ass

[2017-02-12 04:23] nelsonic opened #18 "Research Comparable Co-Working Space"
http://startups.co.uk/the-best-clubs-hubs-and-co-work-spaces-for-entrepreneurs/
https://hubblehq.com/freelancers

[2017-02-12 13:34] nelsonic commented on #10
ordered one of the **JN-IPS3200WQHD** which is _unpronounceable_ but looks _really_ good to me. 😍
![image](https://cloud.githubusercontent.com/assets/194400/22862449/bbe00c8e-f126-11e6-9913-abad332ee7a5.png)
going to use it for a week and if we don't like it will send it back! (_fulfilled by AMZN so easy to return_)
Also ordered the Stand https://github.com/dwyl/quietspace/issues/4#issuecomment-27

[2017-02-12 19:56] iteles commented on #6
Apparently QS is sub-letting from Founder London

[2017-02-12 20:03] nelsonic commented on #6
And the details of the contract are...?

[2017-02-12 20:30] iteles commented on #6
I have the contract (got it at the end of the day Friday). We'll be reading through it tomorrow.

[2017-02-13 09:15] markwilliamfirth commented on #6
😱

[2017-02-13 17:45] sohilpandya commented on #11
Whilst doing some research on the current setup at QS, we've found that we can fit 7 lights on a single strip
![img_3829](https://cloud.githubusercontent.com/assets/2305591/22894619/9551a06e-f211-11e6-8dcb-1c7c1b3d41b1.JPG)

**Bullett**
- we have 11 in total in the space, each strip can take 7. so we need another 10 to fill up all of them on the bottom floor.
https://www.amazon.co.uk/gp/offer-list

[2017-02-13 18:39] iteles commented on #11
Let's start with 5 on each and then buy more once we've seen what that does to the lighting situation 👍

[2017-02-13 22:29] nelsonic commented on #11
Putting _all_ the available lights on the same strip was really good for lighting up a single desk ...
I'm in favour of ordering a few of these to _significantly_ improve the light.

Ordered the lightbulbs:
![image](https://cloud.githubusercontent.com/assets/194400/22906119/0c037cb8-f23b-11e6-87e9-e60cd3fa32d2.png)

If we end up not requiring them for QS we can re-use them easily. 👍

[2017-02-14 11:33] Jbarget opened #19 "Toilet seat"
@iteles @markwilliamfirth
The toilet seat needs to be replaced ASAP. If we expect people to be clean then we need to hold up our end of the bargain too. I think its been a couple of weeks that the toilet seat has been broken

[2017-02-14 13:37] iteles commented on #19
I thought that when you told me it was broken a couple of weeks ago you said @sofer had ordered one?!

I cast it out of my mind at that time but let's get one ordered today if not.

@sofer Can you confirm?

[2017-02-14 13:38] iteles opened #20 "Review existing contract to determine feasibility of taking it over"
We have the existing sub-let contract and need to determine whether it's feasible/what the limitations are before we decide whether to take it over.

+ [x] Review contract
+ [x] Create list of questions to be answered by dwyl
+ [x] List of clarifications for Sam and Thirze

Linked to #6

[2017-02-14 13:52] markwilliamfirth commented on #20
@iteles if you send it over I'd be happy to review it if you want

[2017-02-14 13:53] iteles commented on #20
@markwilliamfirth Paper copy only ;)

Review tomorrow?

[2017-02-14 13:53] markwilliamfirth commented on #19
@Jbarget thanks for reporting on the issue system 😄

[2017-02-14 13:55] markwilliamfirth commented on #20
If by chance it's on you I can grab it off you in Hoxton later, otherwise tomorrow's fine 👍

[2017-02-14 13:57] Jbarget commented on #19
yep @sofer mentioned he would get one and @shouston3 mentioned he was happy to fit it. If we need to fit it today then i dont mind doing it as long as i have gloves and bleach to clean the toilet at the same time

[2017-02-14 13:57] markwilliamfirth commented on #20
@iteles fun fact - this app is awesome and I use it all the time if you ever need to scan anything from your phone (not in this case, but another time maybe):

https://www.camscanner.com/user/download
https://itunes.apple.com/app/id388627783?mt=8

[2017-02-14 14:07] iteles commented on #19
I'm really just asking if it's been ordered yet (I assumed it had been)...

[2017-02-14 14:08] Jbarget commented on #19
I dont think it has because @sofer mentioned getting one from the shop up the road and cant see anything around

[2017-02-14 14:09] sohilpandya commented on #19
I also thought this was ordered by @sofer a while ago.

[2017-02-14 14:17] iteles commented on #19
Argh. Ok. Let's get one ordered/bought. Happy for anyone to make this happen and dwyl will reimburse the *receipt*.

I won't be back in the office til tommorrow :/

[2017-02-14 15:22] Jbarget commented on #19
The shop only does cheap ones, after a little research this seems like a good option on one-day delivery https://www.amazon.co.uk/gp/product/B00HB1QRD0/ref=ox_sc_act_title_1?ie=UTF8&psc=1&smid=A3P5ROKL5A1OLE

[2017-02-14 16:04] iteles commented on #19
On it 👍

[2017-02-14 16:06] iteles commented on #19
Done.

<img width="652" alt="screen shot 2017-02-14 at 16 05 28" src="https://cloud.githubusercontent.com/assets/4185328/22937110/81ebc504-f2cf-11e6-8b07-8e586732f8c4.png">

[2017-02-14 16:11] nelsonic commented on #19
@iteles are we calling a "handy person" to do the installation?
(_I don't mind doing it, I have the gloves and everything from fixing the toilet at "old house"..._ 😉 )

[2017-02-14 16:24] Jbarget commented on #19
theres a formative video on the amazon page for installation, supposedly its a seat that wont come loose like most other cheap ones

[2017-02-15 10:18] SimonLab opened #21 "open local network?"
I'm trying to access my local ip address of my computer (where a server is running) from my phone to be able to test the application quickly and without having to push my branch to Heroku for example. Unfortunately it seems that the router is blocking the access and I receive a timeout response. I tried to run the server on different port (4000, 8000 and 80 also) but they seem to be blocked too.
L

[2017-02-15 10:54] nelsonic commented on #21
@SimonLab which network are you connected to and what are you seeing when you attempt to connect to your _own_ PC on one of the ports?

[2017-02-15 11:04] SimonLab commented on #21
Sorry my mistake, my phone was on the wrong network, sorry. Everything works fine :+1:

[2017-02-15 11:04] #21 closed

[2017-02-15 13:32] nelsonic commented on #21
@SimonLab thanks for confirming that. 😉

[2017-02-16 14:53] sohilpandya commented on #11
Both the lights and fittings are here! 🎉

however, there is an issue, the two strips that @nelsonic and I were testing on work fine, but, the strip near the front of the room doesnt take the same type of bullet fitting. 😢

Back of the room is looking brighter already!

We may have to return some of the fittings, as we have a few extras now.

@nelsonic @iteles

[2017-02-16 15:00] iteles commented on #11
@sohilpandya Are there any existing lights we could borrow from anywhere else that would work on the front?

[2017-02-16 15:08] sohilpandya commented on #11
I'll check upstairs, just need a couple more fitting. the lights are really bright! 👍

[2017-02-16 15:09] sohilpandya commented on #11
Although @markwilliamfirth is not a big fan of the **Bright Lights**

[2017-02-16 15:12] markwilliamfirth commented on #11
^lol

my ideal office vibe:
http://pleonast.com/users/lilspikey/entries/99331-we-have-fairy-lights-in-our-office

![officer](https://cloud.githubusercontent.com/assets/5732209/23026820/60c37688-f45a-11e6-9a73-e52adcc78b0e.jpg)

[2017-02-16 15:16] iteles commented on #11
@markwilliamfirth Maybe we can make you a dark corner near the back 😆

[2017-02-16 16:18] markwilliamfirth opened #22 "New Rubbish Bin"
buy new rubbish bin for quietspace - standard size

@nelsonic didn't you order this but it was out of stock? Would you be able to check and reorder the one you had found or send me the link and I'll do it?

[2017-02-16 16:20] nelsonic commented on #22
😆

[2017-02-16 16:43] otajor commented on #22
@nelsonic we have two kind of paper-basket type bins. They both get used a moderate amount but more for stuff that doesn't need a plastic bin-bag. If there were a more serious bin upstairs I reckon it would get used too.

[2017-02-16 17:23] markwilliamfirth commented on #20
# Important points from the contract

- The lease is for both units 14 and 16 for 2 years between 1 May 2016 and 1 May 2018. We can give notice with a 2-month notice period.
- We're not allowed to make any structural alterations or additions to the premises. In terms of non-structural alterations, we must reinstate the original set up if FOUNDER requests it.
- We are responsible for keeping the sp

[2017-02-16 21:51] nelsonic commented on #20
thanks for synthesising those points Mark. 👍
beyond the "_non-structural alterations_" is there anything `else` we are **_not_ allowed** to do with the space? (_obvs I don't want to make it a night club, but is there anything against using it 24/7 provided we keep noise levels to a minimum and keep the neighbours happy..._)
Is there anything preventing us from changing the door lock to be digital

[2017-02-20 10:36] markwilliamfirth commented on #20
Full contract is [here](https://drive.google.com/open?id=0B0XeQ2t5WSK2ZmxEYkIwb1F1TzA).

Nothing about 24/7, does say this:

<img width="539" alt="screen shot 2017-02-20 at 10 28 07" src="https://cloud.githubusercontent.com/assets/5732209/23121206/68aca96e-f757-11e6-80c6-0c4f53c38bad.png">

There also may be requirements from the local council and/or landlord that we are bound by(?)

[2017-02-20 10:44] markwilliamfirth commented on #20
List of questions:

- What plans does FOUNDER have for the space for the next year and after 1 May 2018?
- Does FOUNDER know what plans the landlord have for the space over the next year and after 1 May 2018?
- Can we change the door lock to be digital instead of key-based?
- Can we install new fire alarms?
- Can we make changes to the sink/kitchen area?
- Can we rebrand the space from FOUNDER to

[2017-02-22 16:55] iteles commented on #20
@markwilliamfirth Added a few points to your list of questions above

[2017-02-23 18:29] markwilliamfirth opened #23 "Key for Mark"
@iteles can I get a key to the space please? 😄

[2017-02-23 21:13] iteles commented on #23
:laughing: I can't believe you don't have one. Let's get this done at lunch tomorrow :+1:

[2017-02-25 12:07] iteles commented on #22
I favour something you don't have to touch to open (and where the waste doesn't touch the lid) and is easy to clean like:
https://www.amazon.co.uk/simplehuman-Litre-Plastic-Slim-Pedal/dp/B004L9L3KW/

[2017-02-25 14:23] sofer commented on #20
@markwilliamfirth

None that we know of.

No, but I would guess that the landlord might be looking to increase the rent.

I see no reason not to, but one of the requests that S&T made was to be able to continue to use the address for post and they do have a key holder who I believe still comes in to pick up post.

Almost certainly "yes" to all of the above, but a quick check with S&T would not go

[2017-02-27 02:25] iteles opened #24 "Hike in business rates ? :/"
Will this affect QuietSpace? And if so, how badly?

Business rates a 'ticking time bomb' for small firms
http://www.bbc.co.uk/news/business-39098801

[2017-02-27 17:07] markwilliamfirth commented on #23
Completed!

[2017-02-27 17:07] #23 closed

[2017-02-27 17:08] markwilliamfirth commented on #19
As far as I can tell, this was installed? Ok to close? (lol)

[2017-02-27 17:09] sohilpandya commented on #19
It was 💯

Can be closed! 😆

[2017-02-27 17:11] markwilliamfirth commented on #19
👍

[2017-02-27 17:11] #19 closed

[2017-02-28 11:19] nelsonic commented on #10
Sadly the JapanNext monitor is "Ghosting" with both DisplayPort and VGA ... So I'm contacting the manufacturer... 😢

[2017-03-02 08:53] nelsonic commented on #24
@iteles this is not an _especially_ informative article ... 🤔
were you able to determine an expected _number_ or percentage increase from your research...?

[2017-03-02 08:59] iteles commented on #24
@nelsonic I didn't have time to do much research, hence the question and help wanted label....

[2017-03-02 09:06] nelsonic commented on #3
@iteles please let me know if I can make the call to the council to get this collected. thanks. 👍

[2017-03-02 09:07] nelsonic commented on #7
@iteles any update on this? 😧
(_I'm happy to rent a ZipVan and transport the box to anywhere in London..._)

[2017-03-02 09:12] nelsonic opened #25 "Do we need a designated/paid Office Manager?"
Do we need to _budget_ for an Office Manager who is responsible for:
+ Opening & Closing the space in the morning
+ Ensuring all members have registered (_we have up-to-date email for messaging_) and a forwarding address for post if they do not collect it
+ Ensuring that anyone in the space that day has paid to be there (_we cannot run it as a "free coffee shop" where anyone can rock up and not co

[2017-03-02 11:01] sohilpandya commented on #8
**Inventory**
- IKEA Flintan chair. (In a box)
- 4 security cameras
- 4 boxed ceramic mugs
- Plastic/paper cutlery
- Box of tea bags
- Box of candlelights.
- Box of Grolsh beer.
- 3 e-cover washing up liquid
- 1 caustic soda bottle
- Postal accessories (cello tape, staplers, easy peel labels etc)
- 2 what looks like heaters. 🤔
- Box of tiles!
- 5+ extension leads (inside the blue box in the shower

[2017-03-02 11:04] sohilpandya commented on #16
Do we have a list of all the monitors? I'm happy to put them up on Ebay if we know which ones we want to put on sale.

[2017-03-02 11:38] markwilliamfirth commented on #3
I can handle this - just let me know what I need to do. Is it literally just calling the council?

[2017-03-02 11:41] markwilliamfirth commented on #25
I think this is supposed to be me once we have completed officially handing over from Dan (which is 1 step away from completion). Is that correct @iteles ? Is the handover meant to be the start of March?

[2017-03-02 12:39] sohilpandya commented on #10
@nelsonic that is terrible. 😢 Will be interesting to know how the conversation with the company goes and how quickly they are able to replace the faulty model.

[2017-03-02 13:45] markwilliamfirth commented on #24
https://www.change.org/p/theresa-may-mp-protect-businesses-from-the-rates-hike-which-will-tear-the-heart-out-of-our-communities-1596433d-75ec-4e65-b78a-ec2582571f6e

[2017-03-02 13:46] markwilliamfirth commented on #24
https://www.theguardian.com/business/2017/feb/17/business-rates-rise-biggest-issue-small-firms-london

[2017-03-02 23:42] iteles commented on #24
@markwilliamfirth Could you please determine what this will mean in monetary terms?

[2017-03-02 23:45] iteles commented on #25
@markwilliamfirth Yes and no :wink:
For *right now* this will be you (except for early and late opening and closing), but the idea is that you take on the role in order to document what is required and track your time so that we can answer the question of whether it is feasible and/or required to have a paid office manager :+1:

[2017-03-02 23:48] iteles commented on #16
We're holding onto them for now until we've tested the proposed new ones, so this isn't a high priority.

An inventory of all dwyl monitors on the other hand would be very useful!

[2017-03-02 23:49] iteles commented on #7
Yea, I had a conversation with them a couple of weeks ago, @markwilliamfirth followed up today and will chase them soon. In the meantime, the box is upstairs.

[2017-03-02 23:51] iteles commented on #3
@markwilliamfirth Yes! I think it's a residential service though, so please give HQ's details if required instead of QuietSpace

[2017-03-03 07:41] nelsonic commented on #4
The monitor arm never arrived. I've sent Amazon a message claiming for it. hopefully they will re-send the order... ⌛️

[2017-03-03 07:54] nelsonic opened #27 "Key-less Door Entry System"
At present we have "_traditional_" **metal keys** for locking the QuietSpace office.
While this has worked in the past it has **3 _important_ disadvantages**:
+ Keys cost money to copy for each new member
+ Keys cannot be "_revoked_" when lost/stolen (_or a member leaves_)
+ No Accountability for who entered/exited (_if the door is left open and things go missing!_)

We therefore propose (_for dis

[2017-03-03 09:10] markwilliamfirth commented on #7
If you want I can just give Jon a deadline to move it by? I think that's the issue here - there's no incentive for urgency

[2017-03-03 09:21] Cleop commented on #25
Just so you are aware for budgeting, London Living Wage has increased.

'As of 31st October 2016, the London Living Wage is £9.75 '

Which may want to be considered with budgeting, as it was mentioned regarding the office manager concept.

[2017-03-03 09:22] markwilliamfirth commented on #3
Done!

The fridge needs to be left just outside the 2 Palmers Road building before **7am** on **Friday 10th March**

They will collect it between 7am and 3pm on Friday 10th March. Apparently they won't call us, they'll just come and pick it up.

You can submit up to 5 items for collection - you just have to call and "edit" the collection with at least 24h notice if you want to add more items

**1-

[2017-03-03 09:26] iteles commented on #3
Thanks for organising!

Can we not just leave it outside when we leave the office the day before?

[2017-03-03 09:28] iteles commented on #25
http://www.livingwage.org.uk/what-living-wage-annual-salary

[2017-03-03 09:28] markwilliamfirth commented on #25
^for full-time equates to £17,745/year - salary will likely be higher than that though, I imagine

[2017-03-03 09:31] markwilliamfirth commented on #3
I guess - yeah! As long as other Palmers Rd residents don't mind

[2017-03-03 14:53] markwilliamfirth commented on #18
@iteles how many desks do we need for dwyl? 8?

[2017-03-03 14:55] markwilliamfirth opened #28 "Contact Chaz to remove box"
Fat Lama have a brown box near the window as well as other items - needs collecting

[2017-03-03 19:03] markwilliamfirth commented on #22
@iteles it's been bought :D

[2017-03-03 22:28] iteles commented on #18
Between 8 and 12, but certainly 8.
We'll also need space to conduct training and video-shooting from :+1:

[2017-03-03 22:28] iteles commented on #11
Have we solved this for now @sohilpandya?

[2017-03-04 06:35] nelsonic commented on #7
I _know_ this is not my "remit" but I agree with Mark: when there is no sense of urgency _nothing_ gets done. I think we need to be _explicit_ in the QS co-working agreement/contract:
no "stuff" lying around on floors/tables when you lave for the day.
(_I've removed anything of mine that was "out-of-place" so hopefully I'm not "throwing stones"..._)
we _really_ need to make the space look "_profes

[2017-03-04 14:25] sohilpandya commented on #11
Yep. Happy to close the issue if you are in with it.

[2017-03-05 23:31] iteles commented on #27
I particularly like this because it mean that 'opening hours' are a thing of the past.

[2017-03-06 10:11] sohilpandya commented on #28
I think Rosie also has a package, which is left with the concierge.

[2017-03-06 11:43] iteles commented on #28
@markwilliamfirth Brown box disappeared, he may have picked it up this morning as I think it was there on Friday night? Also, if so, how did he get in?

[2017-03-06 17:06] markwilliamfirth commented on #20
I have contacted S&T

[2017-03-06 18:48] markwilliamfirth commented on #22
Lid is uneven - needs to be sent back

[2017-03-06 18:50] markwilliamfirth commented on #7
Jon confirmed today that within 24 hours he should have a response about when the box is being removed

[2017-03-07 11:20] nelsonic commented on #22
Sad times... 😞
thanks for sorting it Mark. 👍

[2017-03-07 13:57] barisbalic commented on #27
Hey gang, my experience hasn't actually included a locking mechanism, but I did look into them for future use.  Your MVP may be to buy an electronic door lock with a remote and then control the remote with a relay circuit, this lets you build with off the shelf parts, and, importantly means you would have a key as a backup, because as we all know, tech breaks :(

In my project the NFC tags only ac

[2017-03-08 06:55] nelsonic commented on #27
@barisbalic this is _more helpful than you can **imagine**_! (_seriously thank you!_)
We've done some basic research on electronic door locks:
https://www.locksonline.co.uk/Electronic-Strike-Releases/Electronic-Composite-Door-Locks.html
But not been able to determine which is a _good_ one to choose for the door we have... 🤔
I think a good "next action" would be to take _lots_ of photos of the "Qui

[2017-03-08 11:30] mk4111 commented on #27
@nelsonic - keen! I always leave my keys behind; this'd be siiiick

[2017-03-08 18:09] markwilliamfirth commented on #18
http://www.shoreditchplatform.com/
http://coworkhub.co/

[2017-03-09 12:52] nelsonic commented on #27
@mk4111 glad you like the idea. want to be "_lead_" for this "Mini Project". 😉
(_it just means you making sure we get this done. sadly I don't have time to focus on it..._)

@barisbalic is our "implementation/design expert". fairly certain you've met at meetup ... 👍
(_you're both vegan, like coding and climbing so should work well as a "team"_)

@markwilliamfirth is your "Product Owner" and will o

[2017-03-09 15:04] markwilliamfirth commented on #27
@nelsonic I don't think it's been fully decided if we're doing this (or even staying in QuietSpace) yet

and if we do go through with it, there might be a good case for getting a security company to do it for us rather than us building it in-house

[2017-03-09 15:44] barisbalic commented on #27
FYI @nelsonic, @iteles, @mk4111, @markwilliamfirth in return for any help, I must insist that any cards are printed as keycards from doom...

![red keycard](http://www.teamhellspawn.com/vox_redcard.gif)

[2017-03-09 15:57] nelsonic commented on #27
@markwilliamfirth agreed. we are at the "research and feasibility study" stage.
For insurance purposes we should _definitely_ get a pro/company to assess (_and then potentially install_) the initial electronic lock on the door so we have a receipt.
but we would not use a closed source "black box" system because it's not re-useable by anyone.
We absolutely need to _cost_ how much it will be to inst

[2017-03-10 05:41] nelsonic commented on #28
This has been done now (_according to @otajor..._) ✅
@iteles also to answer your question they dropped off 5 keys to QS. 👍

[2017-03-10 05:41] #28 closed

[2017-03-10 05:43] nelsonic commented on #27
Photos of the _current_ door lock:
![img_4356](https://cloud.githubusercontent.com/assets/194400/23783573/7945c926-0554-11e7-8df0-b9396f39483a.jpeg)
![img_4357](https://cloud.githubusercontent.com/assets/194400/23783568/79453772-0554-11e7-8b25-a2bc4c696095.jpeg)
![img_4358](https://cloud.githubusercontent.com/assets/194400/23783571/79456eea-0554-11e7-8346-33faa610f7c1.jpeg)
![img_4359](https://clo

[2017-03-10 15:20] barisbalic commented on #27
I suspect you will have to find a lock that matches/fits this kind of door.  I would hope that there is a standard but I can't tell you what it is, otherwise you would likely need to replace the whole door.

[2017-03-10 17:10] markwilliamfirth commented on #22
Sending back the bin - has been repackaged with return label. Hermes will be collecting it on Monday

New bin has been purchased - should be arriving next week

[2017-03-10 17:14] nelsonic commented on #22
@markwilliamfirth link to new one? (_curiosity..._) 😉

[2017-03-14 14:48] sohilpandya opened #29 "Coffee"
Hey, can we please get some coffee for **quietspace**.

I need some, please 😟  potentially a repeat subscription of some sort?

[2017-03-14 18:27] markwilliamfirth opened #30 "QS Proposal"
Update the proposal

[2017-03-15 06:25] iteles commented on #29
@sohilpandya If you want to pop to the shops today and expense it, please do!

Let us know if you have any thoughts on subscription options, not many coffee drinkers in QS right now though!

[2017-03-15 13:10] mk4111 commented on #27
@nelsonic, can I just double check whether we still want to aim to complete the research and feasibility study by 24th March 2017? Just because it's soon, and I'd like to think about the next few steps to get this rolling!

[2017-03-16 00:07] iteles opened #31 "Focus Hub Master Checklist"
@markwilliamfirth As we discussed this week, could you please put together a checklist of the things that we have to do to start getting people into QS?

My thoughts on this are a mixture of media & getting the word out (higher priority) and things to be done in the space (I saw the original emails with Fat Lama about fixing all the holes in the wall but think I was removed from the chain - which

[2017-03-16 00:10] sohilpandya opened #32 "Weekend/Evening meetup groups"
@iteles @markwilliamfirth do we have a meetup account for Quietspace/dwyl? I'd like to create a few meet ups either for an evening or weekend.

Thinking to make them iOS related so just like a learn iOS meetup group.

What are your initial thoughts? Is this something we can do?

[2017-03-16 07:42] nelsonic commented on #27
@mk4111 good question! We need to call East London Locksmith or UPVC door installers to find out if it's _possible_ to install an electronic door lock on the door @QuietSpace ... without that info we cannot proceed any further with this project ... please let me know if you're happy to make a few phonecalls and/or send emails.

E.g: last week I sent out the following email: (_which I have Forwarde

[2017-03-16 10:39] sohilpandya commented on #29
I've got some coffee! will look into subscriptions for Tea/Coffee/Milk for the future once we have more influx of hot deskers.

[2017-03-16 10:39] #29 closed

[2017-03-16 14:54] mk4111 commented on #27
@nelsonic - yup yup, would be happy to make phonecalls/send emails!! Will need to have a wee googley to find out about companies! I'll spend a pommy or two doing this tomorrow morning and will list out a few companies here; hope that's okidokie(?)!

[2017-03-16 17:18] markwilliamfirth commented on #31
@iteles checklist is [here](https://docs.google.com/document/d/1DezwZ-Qfbl0mfsri2F5hy1zFw_XvewMjTM0sxa-IgCU/edit)

[2017-03-17 10:16] iteles commented on #31
@markwilliamfirth Can the checklist be in the top comment of this issue? Would be good for everyone to see in case there's something that people can help with and also to check progress :blush:

[2017-03-17 10:18] iteles opened #33 "Set up webfiling for QS"
@iteles to set up webfiling for QS so directors can be updated and accounts can be dealt with accordingly.

[2017-03-17 11:02] iteles commented on #33
Authentication code for web filing requested, should be here in 5 working days or so 👍

[2017-03-18 20:04] nelsonic opened #34 "Security Camera at entrance of QS?"
Given that we _want_ to get as many new members in QuietSpace as possible in the next few months,
and that we increasingly have "_nice things_" (_monitors, printers, etc._) and the members often leave _good_ laptops/accessories on their desks `while` they go out for lunch or walks in the park...

I think it's a _prudent_ idea to have a Security Camera at the front door/entrance
in case people leav

[2017-03-18 20:08] iteles commented on #34
I couldn't be more in agreement with this.

It's a simple and inexpensive method of protection which we really should have already. Let's get this done!

[2017-03-18 23:53] iteles opened #35 "Simple one-page website"
We need to have a super simple, one-page website so we have somewhere with a bit more information if people are looking for it on QuietSpace.

At this stage I'm thinking something REALLY simple to start with that can be created in a day using a CSS framework template like we did with the [Node Girls one](http://nodegirls.io/).

This should include:
+ Our value proposition
+ Pricing
+ Photos of the

[2017-03-19 08:11] nelsonic opened #36 "Easily Distracted By Noise?"
http://www.huffingtonpost.com/2015/03/10/creative-genius-brain_n_6831248.html
https://news.northwestern.edu/stories/2015/03/creative-genius-driven-by-distraction

[2017-03-20 11:52] markwilliamfirth commented on #18
<img width="795" alt="screen shot 2017-03-20 at 11 51 51" src="https://cloud.githubusercontent.com/assets/5732209/24098688/b17769e6-0d63-11e7-9e59-93ba5a4939f2.png">

[2017-03-20 13:07] ghost opened #37 "Clutter in Focus Hub"
There's a lot of random clutter in QS e.g. in the shower room, metal cages, upstairs etc. We need to clear the space out and make it tidy

**Checklist**
- [x] Inês and Nelson to remove any personal belongings from QS
- [x] Inês to inform Mark what can be thrown away and what can stay and what is clutter belonging to freelancers
- [x] Mark to speak to freelancers about removing their clutter
- [ ]

[2017-03-20 17:06] nelsonic opened #38 "Does Focus Hub Need a Meeting Room?"
Most of the _current_ members of QS go one of lovely local coffee shops
when they need a place to meet with others (_e.g. clients_)
but `if` a meeting room were available, how many people would _use_ it?
how _often_ would they use it and for how long (_on average_)?

We need to ask potential ***new*** members this question,
because _existing_ members don't _expect_ to have a meeting room.

## Hypo

[2017-03-21 08:28] nelsonic opened #39 "Door Closer Mechanism"
@sofer the door closer mechanism installed @FoundersandCoders appears to work _really well! 👍

@finnhodgkin looks like you were the [_leader_](https://github.com/foundersandcoders/london-money/issues/18) on this improvement. (_well done!_) 🎉

Could you give us some detail as to where you bought it from? How much was it? 💰  ❓
or, if you're feeling _especially_ kind, could you order one for us and h

[2017-03-21 08:28] nelsonic opened #40 "Clean Desk Policy Downstairs (Hot Desks)"
@sohilpandya and I tidied up the desk next to the kitchen area ♻️
so our `new` members can **Hot-Desk _freely_** downstairs. 🎉

![img_4645](https://cloud.githubusercontent.com/assets/194400/24125415/7d672d3c-0dc0-11e7-810d-99b005689294.JPG)

## _Should_ Clean-Desk Policy be a Rule❓

What do people think about making it a "***rule***" that this desk should be clean/cleared at the end of each day so

[2017-03-21 08:50] finnhodgkin commented on #39
@nelsonic Really Antonio deserves more credit than me :hammer:

Yup that's the one! The only downside is that it may not hold up for as long as it should, especially on the F&C door with its cracked hinges. The trouble is those large doors have big bits of chunks of metal at certain points in the frame so we had to attach the arm at a little bit of an angle.

We'd probably do a better job second t

[2017-03-21 10:12] shouston3 commented on #40
This is so much nicer, thanks @nelsonic 👍

[2017-03-21 11:17] sohilpandya commented on #40
@shouston3 seriously..... 😢

[2017-03-21 19:41] iteles commented on #39
@nelsonic Do we want to figure out whether we're going to have to replace the door first? #27

[2017-03-21 21:51] nelsonic commented on #39
@finnhodgkin thanks for replying and for sharing credit with @antoniotrkdz 👍

@iteles we need to determine if we need to upgrade the QS door.
But in the meantime we _could_ invest in a door closer simply to ensure that the door is closed.
lots of people leave the door open which is both a security risk and an environment issue (_heat loss and noise_)

[2017-03-22 11:07] sohilpandya opened #41 "Welcome door mat"
When it's pouring down with rain, we need a way for people to clean the sole so that it doesn't get the rest of the space dirty.

[2017-03-22 12:44] sohilpandya commented on #39
I have to say this has been the most impressive thing to have happened in no. 14 for a while! I think we should definitely get the above. it does a superb job at keep the door closed and the heat in.

[2017-03-22 13:31] iteles commented on #39
@markwilliamfirth Are you able to order this from the dwyl account? If not, please assign back to me and I'll get it sorted :blush:

[2017-03-22 13:42] markwilliamfirth commented on #39
Considering the door might be replaced I think we should wait until that decision is made before going ahead

[2017-03-22 21:30] iteles commented on #39
@markwilliamfirth I was in the office today and it gets pretty cold in there whenever someone leaves the door open, but next door (where the door is now always closed) is actually nice a not-winter-breezy! I think #27 is at least a month off if not two so we'll have the current door for that long - I made the call to get this given it's only £20 and will likely save us more than that in heating al

[2017-03-22 23:24] nelsonic commented on #39
Sorry to create a disagreement here.
I see both points of view.
I think we can always re-purpose the door closer even if we end up getting a new door for #27 👍

[2017-03-23 14:12] iteles commented on #34
Done in the short term 👍

[2017-03-23 14:12] #34 closed

[2017-03-23 14:13] iteles commented on #22
It's there! And I put up a little sign to explain the hand waving to people because folks were just yanking the lid open.

Need to formalise the sign but other than that I think we can close this!

[2017-03-23 17:35] markwilliamfirth commented on #22
People can open the lid if they want - it works manually too

[2017-03-23 17:35] #22 closed

[2017-03-24 12:43] benjaminlees opened #42 "monthly subscription"
@markwilliamfirth
How does this monthly subscription work?
Could I pay month by month or do I have to commit for a specific amount of time?

[2017-03-24 12:43] benjaminlees commented on #42
@markwilliamfirth

[2017-03-24 15:40] iteles commented on #42
@benjaminlees Great question (and I'm doing a not-so-secret happy dance that you're thinking of joining us :tada:)!

It's month to month and there's a 4 week notice period so there's only a 1 month commitment at any point in time 👍

[2017-03-24 16:54] markwilliamfirth commented on #42
@benjaminlees come join :)

[2017-03-27 11:20] benjaminlees commented on #42
@iteles sounds cool, I will check with my colleagues. 👍

[2017-03-29 10:27] markwilliamfirth opened #43 "Sort Unknown Mail"
**Found:**
+ Academy of Vocational and Professional training
+ Le Bon Bon
+ Mr A Maillard
+ Ms Victoria Samuels
+ Mrs H L Robinson
+ Stuart Vevera

AVPT - companies house says it is these people:
LAMONT, Andrew
SHAWE, Diane
KING, Denise Margaret
QUARRIE, John Elliott

le bonbon ltd is DE LA CHAISE, Jacques according to CH
https://www.lebonbon.co.uk/ times out

**These are for Thirze:**
Thirzie Hul

[2017-03-30 12:54] nelsonic opened #44 "Coffee Machine?"
Listening to http://www.bbc.co.uk/programmes/b062kx4n was reminded that quite a few people working in QS Like Coffee...
@simonlab / @Danwhy should we get a "proper" machine? (*If so, which one?*)

[2017-03-30 14:02] iteles commented on #44
One that doesn't make the obnoxious amounts of noise that the last one did.

[2017-03-30 16:17] markwilliamfirth opened #45 "Tenant List"
http://www.rahelsenn.ch/e/kontakt.htm - who is this?
http://humanityfreed.co.uk/

[2017-03-30 16:42] Danwhy commented on #44
Espresso machines all tend to be very noisy.
Pod machines are quieter, but terrible for the environment (and not great quality coffee.)
Maybe a filter machine? That could work a lot better for serving multiple people at once.

[2017-03-30 17:02] markwilliamfirth opened #46 "Marketing"
Start Marketing the space

https://included.co/join/founder-palmers-road/
hubblehq
https://dwyl.github.io/quietspace/

[2017-03-30 19:06] iteles commented on #46
http://www.coworkinglondon.com/
http://www.workspace.co.uk/co-working

[2017-03-31 22:57] nelsonic commented on #44
@Danwhy please do some research if you have time to figure out if there is a "quieter" espresso machine or if _not_ which filter machine would we get?

[2017-04-01 07:37] nelsonic commented on #39
@iteles did you _order_ the door closer from amazon? (_has it arrived?_)

[2017-04-04 22:21] iteles opened #47 "Learning more about other co-working spaces"
https://itunes.apple.com/gb/podcast/33voices/id515064768?mt=2&i=1000383668865

[2017-04-05 03:02] nelsonic commented on #30
@markwilliamfirth is there an issue for the name suggestions?
![image](https://cloud.githubusercontent.com/assets/194400/24687941/8ca6195c-19b4-11e7-9ca5-b18c1f1f0db7.png)
https://youtu.be/LJ9lnspNNRE ICYMI

[2017-04-05 03:32] nelsonic opened #48 "How do we create an "Dedicated Workspace" for "Deep Work" for dwylers and community members?"
If you are _unfamiliar_ with Cal Newport's book watch the video:
[![image](https://cloud.githubusercontent.com/assets/194400/24688521/635a6cfc-19b8-11e7-9970-7f0903ebaf4c.png)](https://youtu.be/gTaJhjQHcf8)
https://youtu.be/gTaJhjQHcf8
Summary PDF: [Deep_Work.pdf](https://github.com/dwyl/quietspace/files/895102/Deep_Work.pdf)
Full Audio Book: https://www.youtube.com/watch?v=fgIgb8eON4k

So the que

[2017-04-05 10:41] markwilliamfirth commented on #30
I don't think we should prime people with our own ideas when they should be ideating themselves
you can submit here: https://docs.google.com/a/dwyl.io/forms/d/e/1FAIpQLSeNBPBvBr24zHC9xli1ce8mWqbspw6Z_YbwqSiOeFV_ASQBMA/viewform

[2017-04-05 10:57] markwilliamfirth opened #49 "Pay Rent to FOUNDER from QS account"

[2017-04-05 13:55] iteles commented on #18
@markwilliamfirth Why am I assigned to this issue?

[2017-04-05 13:55] iteles commented on #49
@markwilliamfirth I have no details to do this with, could you please email them to me?

[2017-04-05 16:26] nelsonic commented on #30
@markwilliamfirth _agree_ that we shouldn't "_prime_" people.
Thought that _most_ people who were _going_ to respond to the Google Form have _already_ done so. I was just asking in terms of having a "task" on GitHub... 👍

[2017-04-05 16:38] markwilliamfirth commented on #49
Santander locked Inês out - next action is Mark to ask Dan to do it

[2017-04-05 16:43] markwilliamfirth commented on #18
Market research is within biz dev and infers vision and sales strategy, so I assumed this issue was within your remit so that's why I assigned it to you when I was going through the issues on github

[2017-04-05 18:53] iteles commented on #18
We have a short-term solution for this in QuietSpace.

Unassigning myself as this is a task that can be picked up by anyone 👍

[2017-04-06 12:06] markwilliamfirth opened #50 "Internet Cutting Out"
Internet keeps going out. Having to switch over to FAC instead

@nelsonic how did you fix this last time? Should I just reset the router?

[2017-04-06 12:47] iteles commented on #50
@markwilliamfirth It was @sohilpandya and he just switched the router off, waited a minute and switched it on a again.

[2017-04-06 13:54] sohilpandya commented on #50
It takes about 5 minutes to restart, got to be a bit patient with that router.

[2017-04-06 15:27] markwilliamfirth commented on #50
Temporarily switched on the super router with new networks (16PALMERSROAD-1 and 16PALMERSROAD2). Gitter me for the password

[2017-04-06 19:40] nelsonic commented on #50
We need to get off Talk Talk ASAP!
(_they are widely known to have lax security...
Its a "safe bet" that the router is being "probed" by hackers,
We should harden it with a firewall and update settings tomorrow!_)

[2017-04-06 23:52] #49 closed

[2017-04-12 08:32] markwilliamfirth opened #51 "QS Website deployment"
deployed to dwyl.io/quietspace

[2017-04-20 07:48] nelsonic opened #52 "Video Tour of the Office/Facilities?"
Create a video tour of the office. It has the following potential ***benefits***:

+ Give prospective members an idea feel for what the place is like.
+ Forces us to think about lighting (_if the office **still** isn't well-lit in any areas_)
+ Put video on QS (_or what ever it will be called_) Website as intro content (_video is way more engaging than other static content and gives people a much

[2017-04-20 08:12] iteles commented on #52
I love this!
@markwilliamfirth is taking care of getting the office looking good this week and we can do the inside bits after that's done too.

[2017-04-20 09:07] Jbarget commented on #52
@nelsonic if we try and find some examples of similar content that we can get inspiration from that might be helpful. I'll have a look around

[2017-04-20 09:13] iteles commented on #51
What is the URL at the moment @markwilliamfirth ?

[2017-04-20 09:20] markwilliamfirth commented on #51
The URL (https://quietspace-limited.squarespace.com/), username and password are in the "Verify Your Squarespace Account" email chain

[2017-04-21 12:39] sohilpandya commented on #52
I can take some demo footage in at some point today or tomorrow and post it on here :)

[2017-04-21 14:25] markwilliamfirth commented on #45
Completed

[2017-04-21 14:25] #45 closed

[2017-04-24 13:15] sohilpandya commented on #51
I've just seen this! Finally I can get my model career started. 😆
<img width="1680" alt="screen shot 2017-04-24 at 14 13 32" src="https://cloud.githubusercontent.com/assets/2305591/25338790/63579c8a-28f8-11e7-91a0-42be90cb1b05.png">

[2017-04-24 13:19] sohilpandya opened #53 "Change QuietSpace to Focus Hub"
@markwilliamfirth do we need to go about changing all the mentions of QS to Focus Hub in the readme.md

[2017-04-25 10:32] markwilliamfirth commented on #36
According to the Journal of Consumer Research, the optimal noise level for carrying out abstract thinking and creative tasks is 70 dB, which is the average noise level of a coffee shop.

http://www.jstor.org/stable/10.1086/665048?seq=1#

[2017-04-25 10:38] markwilliamfirth commented on #51
Deployed via squarespace to https://www.focushub.co.uk/

[2017-04-25 10:38] #51 closed

[2017-04-25 10:40] #35 closed

[2017-04-25 10:41] markwilliamfirth commented on #33
@iteles has this arrived?

[2017-04-25 10:44] #20 closed

[2017-04-25 10:46] #7 closed

[2017-04-27 17:53] sohilpandya commented on #41
OK, so it's been shit weather can we just order a nice looking mat. https://www.amazon.co.uk/d/Home-Kitchen/Barrier-Mats-Heavy-Backing-Colours-Indoor-Outdoor/B007PZB23M/ref=sr_1_3?ie=UTF8&qid=1493315548&sr=8-3&keywords=door+mat

OR are we looking to get a custom one? http://www.doormats4you.co.uk/

[2017-04-27 19:10] iteles commented on #41
Yes we can and we should. @markwilliamfirth has been doing research into productivity colours so he can order one as soon as he's back on Tuesday!

[2017-05-05 11:12] sohilpandya opened #54 "Socket Hole for the tables upstairs"
@markwilliamfirth we need to get the power tools out and create some holes on the three tables upstairs. Currently, the wires are everywhere.

[2017-05-05 14:08] markwilliamfirth opened #55 "Daily Focus Time Slot Timings for Focus Hub"
In the original QS proposal there were several sessions of lengthy focus time...

**[Original proposal](https://github.com/dwyl/focushub/blob/master/README.md#quietspace-timetable-for-co-working-breaks-and-meetupstraining) from @nelsonic was:**
07:00 AM - 10:00 AM
10:30 AM - 12:30 PM
02:00 PM - 4:00 PM
4.30 PM - 6:30 PM
9:00 PM - 11:00 PM

After watching the [video](https://www.youtube.com/watch?v

[2017-05-05 14:26] nelsonic commented on #55
@markwilliamfirth no objection to these times. keen to have _something_ agreed and adhered to by everyone so we can start _focus(ing)_ 👍

[2017-05-05 14:45] iteles commented on #55
@markwilliamfirth Thanks for opening the issue!

I love the concept of 'power hours' for marketing them <3

Although I think the first option (4 slots) would be ideal, I don't think 12h00-13h00 is realistic as 12h00 - 13h30 is usually the time slot in which most people go for lunch. Maybe we could do 3 slots instead of 4?

Oh, we can add an 08h00-09h00 timeslot in there instead of 12h00 - 13h00 in

[2017-05-05 15:11] markwilliamfirth commented on #55
Ok, so the proposal above is:
8:00 AM - 9:00 AM
11:00 AM - 12:00 PM
2:00 PM - 3:00 PM
4:00 PM - 5:00 PM

There's only two problems with this:
1. It isn't rhythmic
2. The office isn't 24/7 access until 1-month in.

What about (2h):
8:00 AM - 9:00 AM
11:00 AM - 12:00 PM
2:00 PM - 3:00 PM
5:00 PM - 6:00 PM

Or even (3h):
7:00 AM - 8:00 AM
11:00 AM - 12:00 PM
3:00 PM - 4:00 PM
7:00 PM - 8:00 PM

Or ev

[2017-05-05 15:20] markwilliamfirth commented on #55
@iteles The only remaining problem with

8:00 AM - 9:00 AM
11:00 AM - 12:00 PM
2:00 PM - 3:00 PM
5:00 PM - 6:00 PM

Is that it encourages a 9h+ working day - is this something we want to encourage?

Whereas

10:00 AM - 11:00 AM
12:00 PM - 1:00 PM
2:00 PM - 3:00 PM
4:00 PM - 5:00 PM

encourages a 6/7/8 hour day

[2017-05-05 15:25] markwilliamfirth commented on #55
Another question is whether we want to implement this every day of the week, or only on certain days - 'Deep Work Wednesdays'?

[2017-05-06 13:18] iteles commented on #55
Every day of the week, with whatever spacing you desire. We'll have big laminated signs with the times on the wall (and I love your thinking around having it up on the monitor too!) so I don't think uneven spacing is that much of an issue, but whatever your preference is!
Most people won't be there for the whole day anyway (not many in at 8 for example).

[2017-05-08 08:17] markwilliamfirth commented on #50
Doesn't seem to be cutting out anymore

[2017-05-08 08:17] #50 closed

[2017-05-08 08:54] markwilliamfirth opened #56 "Deposit Protection?"
Are we legally obliged to put commercial tenant deposits in a deposit protection scheme?

[2017-05-08 09:23] markwilliamfirth opened #57 "House Rules"
https://github.com/dwyl/hq/issues/4

Need to write up the house rules for Focus Hub

[2017-05-08 12:47] markwilliamfirth commented on #18
top 3 in similar price range from katerina:
launch 22
imapct hub islington
ministry of startups

[2017-05-08 12:48] markwilliamfirth opened #58 "Change Company Name"
QuietSpace Limited -> Focus Hub Limited

[2017-05-08 13:05] iteles commented on #33
This never arrived so have tried it again:
<img width="673" alt="screen shot 2017-05-08 at 14 05 14" src="https://cloud.githubusercontent.com/assets/4185328/25805402/69382d40-33f7-11e7-8c19-1f8fe0ac28e1.png">

[2017-05-09 13:12] markwilliamfirth opened #59 "Follow up on Sales Leads"
Follow up on Sales Leads

[2017-05-09 13:18] markwilliamfirth commented on #55
@iteles in that case I think we should progress with enforcing

11:00 AM - 12:00 PM
3:00 PM - 4:00 PM

in the first instance

and seeing how people respond, and later expanding the hours as necessary

[2017-05-09 13:18] #55 closed

[2017-05-09 13:55] #59 closed

[2017-05-09 14:28] markwilliamfirth commented on #24
@iteles rates for the year are £5,313.23

[2017-05-09 14:54] #24 closed

[2017-05-09 15:09] markwilliamfirth opened #60 "Pay Rent to FOUNDER London"
Pay Rent to FOUNDER London

[2017-05-09 15:56] markwilliamfirth opened #61 "Redecorating"
https://www.bizzby.com/services/handyman/decorating/
info@oceanbuild.co.uk David 07427649858
CONTACT MR A HANNAN ON 07508298949 (whatsapp)
female painter 07535699427
alex info@alecproperties.co.uk 0747 087 1143
Paint: https://www.google.co.uk/maps/place/Brewers+Decorator+Centres/@51.5251707,-0.0475778,14.6z/data=!4m8!1m2!2m1!1spaint!3m4!1s0x0:0x9d2ac73d2ee4bd89!8m2!3d51.5213012!4d-0.0330877

[2017-05-09 16:11] markwilliamfirth opened #62 "dwyl monitor in F&C"
Do we want to keep dwyl monitors only in number 16 or allow people to move them between 14 and 16?

I think there is currently one in F&C that Noga borrowed a few weeks ago

[2017-05-09 16:38] markwilliamfirth opened #63 "Office Call Diversion 020 3302 4210 -> mobile"
Talktalk:
_To redirect your phone to a mobile you will need the call divert feature on your account. You will need to contact us so we can activate it on your account. It can take up to 24 hours to go active once we have requested this be added.
Once it is on you can dial *21*(your mobile number)# and this will divert all calls. To remove this it is #21#.

The service is not currently active. I ca

[2017-05-09 17:07] markwilliamfirth commented on #37
@iteles should we sort this out this week when we're both in the office?

[2017-05-09 18:31] iteles commented on #62
As long as there are dwyl developers working from 14, they should have dwyl monitors to work on there:+1:

The double monitor stand as you walk into 16 is actually one that belongs to 14, so I think we're even!

[2017-05-09 18:31] #62 closed

[2017-05-09 18:32] iteles commented on #60
@markwilliamfirth You need to give me the details of how much and to whom before I can do this please :pray:

[2017-05-10 08:41] markwilliamfirth commented on #60
@iteles deets should be in the bank history - it's 3.9k to FOUNDER LONDON LTD

[2017-05-10 14:26] markwilliamfirth opened #64 "Update FOUNDER Website"
Update website to Link to Focus Hub

[2017-05-10 14:30] markwilliamfirth commented on #64
@SimonLab gave me admin access to the repo (live version is gh-pages branch)

Commits have been pushed:
https://github.com/FounderLondon/website/commit/f2a872028f11c6a654754f6106b78873c84e8614

Waiting for site to update
http://www.founderlondon.com/

[2017-05-10 14:45] markwilliamfirth commented on #64
Site has updated

[2017-05-10 14:45] #64 closed

[2017-05-10 16:15] iteles commented on #60
Done 👍

[2017-05-10 17:00] sohilpandya opened #65 "Broadband slowing down when we have a lot of users"
Both Pawel and the new guy have complained about slowness in the QuietSpace router internet speed when there are a lot of people in the space, is it something to do with the bandwidth?

@markwilliamfirth can you please check see what we can do to solve this issue?

Thanks! ❤️

[2017-05-10 17:14] markwilliamfirth commented on #65
@sohilpandya talktalk only guarantee speeds for wired connections - we may have to switch provider? What's the speed you're getting?  - > fast.com

[2017-05-10 17:15] markwilliamfirth commented on #65
Not loving the internet https://github.com/dwyl/focushub/issues/50

[2017-05-10 17:18] sohilpandya commented on #65
At the moment I'm getting 57 on fast.com, but the people upstairs haven't been able to have skype conversations (this was in the afternoon).

[2017-05-10 19:05] iteles commented on #65
I had multiple problem free hangouts calls between 17h30 and 18h30 whilst I heard Volidia on a call so it might be worth looking at the three networks situation too

[2017-05-10 19:40] iteles commented on #63
Can we just add a voicemail message to the answering machine asking them to email us?
I'm not convinced my time is well-utilised fielding more calls than I already do 😛

[2017-05-11 08:13] markwilliamfirth opened #66 "Restructure WiFi Networks"
Rename QuietSpace -> Focus Hub
Remove FOUNDER and PALMERSROAD networks

#65 #50

[2017-05-11 12:53] markwilliamfirth commented on #18
The Shed

http://www.shedlondon.com/deskspace

https://hubblehq.com/office-space/2353/shed-london-2?utm_source=Hubble%20Newsletter&utm_campaign=86b6078c44-NEWSLETTER_OFFICE_12_15&utm_medium=email&utm_term=0_a15cff06e7-86b6078c44-206470829

[2017-05-11 14:46] sohilpandya opened #67 "Ordered some Toileteries"
Just a heads up, I've ordered a bulk of loo rolls that should arrive tomorrow, please don't order any more.
<img width="1667" alt="screen shot 2017-05-11 at 15 44 37 1" src="https://cloud.githubusercontent.com/assets/2305591/25955379/00c0221a-3661-11e7-9fca-b3e79a0153c1.png">

I'll close the issue once they arrive. 👍

[2017-05-15 12:12] markwilliamfirth opened #68 "QS Bank Account Reconciliations"
Mark to reconcile bank

[2017-05-15 12:12] markwilliamfirth commented on #68
@iteles please can you confirm:

1. What this was for?
20 Mar 17 FASTER PAYMENTS RECEIPT REF.DESK RENTAL FROM I Teles///£200.00	200.00

2. Check if money came in from Rujuta in March? (Freeagent says it didn't, Rujuta says it did on 2nd or 3rd March)

[2017-05-15 20:47] iteles commented on #68
I was in the accounts so:
+ This was an agreement we had with Founders & Coders around the Safe Lives work - because we couldn't charge VAT for it (CAST is not VAT registered), I took it on independently of dwyl and paid F&C's commission back into QS as opposed to F&C as rent
+ Payments from Rujuta of £180 on 5th Jan, 20th Feb, 1st March,5th April

[2017-05-16 07:42] markwilliamfirth commented on #68
<img width="928" alt="screen shot 2017-05-16 at 08 33 12" src="https://cloud.githubusercontent.com/assets/5732209/26094575/60675e36-3a12-11e7-8336-229209d476a5.png">

For some reason it's not showing. Can you send me a screenshot of your end and I will contact freeagent

[2017-05-16 12:26] markwilliamfirth opened #69 "Facebook Page Name"
Links to #46 because of Facebook Ads

The Facebook Page name is still Founder.

I've tried to change it 6 times, but have been rejected each time.

Maybe trying to change it from a second person's account will work:

@iteles please could you try changing it to `Focus Hub`?

https://www.facebook.com/pg/FocusHubLondon/about/?ref=page_internal

[2017-05-17 09:34] nelsonic commented on #57
Why does a `priority-1` issue not have a description?
![image](https://cloud.githubusercontent.com/assets/194400/26147704/3d754fd4-3aec-11e7-911b-65c5f572db77.png)
_Implied_ requirements are a _guaranteed recipe_ for time-wasting.

[2017-05-17 09:41] nelsonic commented on #55
This _isn't done_.
People still make a _lot_ of noise when ever they please.
Loud conversations, noisy walking and general noise are _very much_ still going on in these times.
We need _signs_ printed and posted on walls.
We need _all_ existing members of FH to not only be _aware_ of the "focus times",
they need to _agree_ to it and _abide_ by it.

[2017-05-17 12:26] markwilliamfirth opened #70 "Draft Excluders"
Moved from https://github.com/dwyl/hq/issues/53

Needs reviewing baring in mind new door #27 #39

[2017-05-17 12:33] markwilliamfirth commented on #57
Descriptions updated

[2017-05-17 12:46] markwilliamfirth opened #71 "DMZ Network"
Moved from https://github.com/dwyl/hq/issues/135

We need a DMZ for HQ to ensure that our internal NAS is "secure"...

https://en.wikipedia.org/wiki/DMZ_(computing)
http://superuser.com/questions/17572/whats-dmz-used-for-in-a-home-wireless-router
https://www.cnet.com/forums/discussions/here-is-a-not-so-quick-tip-low-cost-dmz-for-home-313024/

Moved from https://github.com/dwyl/hq/issues/135

[2017-05-17 13:35] markwilliamfirth commented on #55
@nelsonic this issue only refers to choosing the hours/timeslots. It has been closed as it has been completed.

The tasks you mention in your post refer to different issues such as: #57 #36 #40 #26 #30 #17

[2017-05-18 15:55] markwilliamfirth commented on #3
[To update those reading along - last time the fridge wasn't left outside]

@iteles @nelsonic

Have reorganised

The fridge needs to be left outside 16 Palmers Road (near the bins) before 7am on Thursday 25th May

It will be collected between 7am and 3pm that day

You can submit up to 5 items for collection - you just have to call and "edit" the collection with at least 24h notice if you want to a

[2017-05-19 10:55] sohilpandya opened #72 "Another email to hello @ focus hub."
Hey @markwilliamfirth,

Got another call from Hubble, someone has emailed our (hello @ focushub) asking to come and visit the space on Monday at 8.30.

Hope you are good at getting up early! 😉

[2017-05-19 11:40] markwilliamfirth commented on #72
@sohilpandya did you get the details of the person? (we haven't received any emails unless you're referring to Lisa?)

[2017-05-19 12:19] markwilliamfirth commented on #72
@sohilpandya Henry Burn works at Hubble and he's calling referring to Lisa who we're in touch with via email - thanks for letting me know

[2017-05-19 12:19] #72 closed

[2017-05-19 16:36] markwilliamfirth opened #73 "File QS Confirmation Statement"
First #58
And change of directors / shareholders

Next statement to be filed by
30 May 2017

[2017-05-19 17:04] markwilliamfirth opened #74 "Focus Hub Door Sign"
Moved from https://github.com/dwyl/focushub/issues/17

We need a door sign with the Focus Hub Logo on it.

The proper sign / vinyl for the door must wait until:
#39 #27 and focus hub designs and logos

A temporary sign can be created, printed and laminated

[2017-05-19 17:04] markwilliamfirth commented on #17
Closed in favour of https://github.com/dwyl/focushub/issues/74

[2017-05-19 17:04] #17 closed

[2017-05-19 18:31] markwilliamfirth commented on #37
First stage done

Next steps:

Jack Carlisle Ikea bag
Founders & Coders - ask if they'd like items upstairs, if not charity shop
Email Hands on London to remove items
Volodia - mac box
Shower Room

[2017-05-19 18:31] markwilliamfirth commented on #74
Alpha(?) version created

[2017-05-19 18:53] markwilliamfirth commented on #66
FOUNDER and PALMERSROAD networks have been removed

New network set up - 'Focus Hub'

[2017-05-19 19:00] #66 closed

[2017-05-21 21:47] iteles commented on #69
Requested and rejected, I suspect this is why:
<img width="508" alt="screen shot 2017-05-21 at 22 42 41" src="https://cloud.githubusercontent.com/assets/4185328/26287612/3f24e5fe-3e77-11e7-80d6-fdc72d6c6c7e.png">

I have put through an appeal request.

Have you tried getting it changed to 'Focus Hub London' or 'Focus Hub Coworking' ? Wouldn't that be better for SEO/hits anyway?

[2017-05-22 06:28] markwilliamfirth commented on #69
@iteles thinking about it, I think it might be due to the fact that we've only been admins of the page for a short amount of time - I can try a different name as above and see if that works

[2017-05-22 10:22] sohilpandya opened #75 "Walk-in hot desker"
OK, so this is quite strange, we just had our first walk-in hot desker. They just want to use the space for the day and so I've offered some space on the last table downstairs.

She found us online and tried calling but did not get through. _we need to sort out the phone line_

I asked her about the daily rate and she said she's seen £19 online. Is that correct? I've kind of said if that's what yo

[2017-05-22 10:57] iteles commented on #75
@sohilpandya I'm coming in this afternoon! If she's handed you cash but wants an invoice, we just need her email address and who she wants the invoice addressed to :+1:

[2017-05-22 11:49] sohilpandya commented on #75
@iteles she has not handed me the cash, but happy to ask her to do that and then take her email address so we can send her an invoice 👍

[2017-05-22 12:02] iteles commented on #75
@sohilpandya Given we don't know her and don't have a contract with her, that will have to be the case. If she wants to hot desk more frequently, we'll draw up a hot desking contract for her and then we can organise payment in whichever format is most convenient for her!

[2017-05-22 18:30] sohilpandya commented on #75
@iteles she's paid me £20 in cash. (it's mine now. 🤣)

Could we please send her an invoice at the following email address: sara {at} saradoespr.com

[2017-05-23 08:00] iteles commented on #75
@sohilpandya Did she say she might be back? ;)

[2017-05-24 08:52] markwilliamfirth commented on #75
@sohilpandya I've sent her an email 👍

[2017-05-24 09:56] sohilpandya commented on #37
Please invite me to in when you are doing the shower room, it contains a lot of **things**

[2017-05-24 09:58] jackcarlisle commented on #37
@markwilliamfirth is that the Ikea bag filled with dolls heads?!

[2017-05-24 10:05] sohilpandya commented on #37
🤣

[2017-05-24 16:22] iteles commented on #3
Fridge is outside. Thanks @sohilpandya :+1:

[2017-05-25 08:42] markwilliamfirth commented on #37
@jackcarlisle not that one (though you are welcome to take as many doll heads as you wish). I think there was an IKEA bag downstairs with your belongings in - not 100% sure though!

[2017-05-25 09:44] markwilliamfirth commented on #3
omg it's finally gone 🙌

[2017-05-25 14:21] mantagen opened #76 "Plants"
Just wondering about the plants at the #focus-hub?

I come in once in a while, and not sure if they're being maintained? Is there a system in place? Would be a shame if they died.

[2017-05-26 14:43] markwilliamfirth commented on #3
Spoke too soon

Mark to contact 020 7364 5004

[2017-05-27 06:41] nelsonic commented on #3
@markwilliamfirth thanks very much for following up on this `chore` ... ❤️

[2017-05-27 06:43] nelsonic commented on #57
@markwilliamfirth any chance we could _print_ and _laminate_ these so _everyone_ is aware of them? (_please/thanks_!) ❤️

[2017-05-27 07:17] nelsonic commented on #52
@markwilliamfirth  / @sohilpandya I know you gents are super-busy,
but... it would be _amazing_ to have a 30-60 sec video intro for FocusHub to _inspire_ people to join.
the _big_ bonus is that we can re-use some of the footage for the "_working @dwyl_" video ...
Please let me know if you have time to discuss further.

CC: @Cleop (_who's video production skills & acting could be super useful too!_

[2017-05-27 07:22] nelsonic commented on #55
@markwilliamfirth cool. thanks. 🎉

[2017-05-27 07:31] nelsonic opened #77 "Communicate Focus Times Clearly With All Members"
Having daily focus times is _great_ for people who need to get "Deep Work" done.
However these times are _not_ being adequately _communicated_ with all members.

# Tasks/Todo:
+ [ ] Print 4 A4 Signs stating the focus times (_using the FocusHub slide template_)
+ [ ] Laminate the signs (_laminator is in the "closet"_)
+ [ ] Affix the signs to the wall using white-tac in the following locations:
  +

[2017-05-27 07:31] nelsonic commented on #55
@markwilliamfirth cool. thanks. 🎉  https://github.com/dwyl/focushub/issues/77

[2017-05-27 07:36] nelsonic opened #78 "Print, Laminate and Affix House Rules to Ensure they are Constantly Visible"
@markwilliamfirth  did a great job putting together the FocuHub [/house-rules.md](https://github.com/dwyl/focushub/blob/faaefa1b19478d26a34eb34b4f4c3428e2829d4b/house-rules.md) 🎉
Sadly there are people who will not _read_ them on GitHub ... (IKR!)

# Tasks/Todo:
+ [ ] Print 4 A4 Signs with the "House Rules" (_using the FocusHub slide template_)
+ [ ] Laminate the signs (_laminator is in the "close

[2017-05-27 07:38] nelsonic commented on #57
Oops, didn't mean to _re-open_ this.
Instead, there's a `new` issue for Printing & Affixing the Rules: https://github.com/dwyl/focushub/issues/78

[2017-05-27 08:02] nelsonic commented on #71
At present we have a "Double NAT Router" Configuration which is _safer_ than a single router config but setting up a DMZ just means additional Firewall rules on the router which will add to the security of all devices on the network.

[2017-05-27 08:43] nelsonic opened #79 "More Ergonomic/Comfortable Chairs?"
A _few_ FocusHub members have all mentioned that the _current_ "army green" chairs are not great for comfort/ergonomics. They are "FORUM" by Burgess Furniture (_more preciscely model Forum 37/8_) see: http://www.burgessfurniture.com/chairs/forum-37-8.html
![image](https://cloud.githubusercontent.com/assets/194400/26519671/1a7269ee-42bd-11e7-8f76-80d8b1f237af.png)
They are "_fixed_" in every way (_

[2017-05-27 11:43] sofer commented on #79
I am a fan of the [HumanScale Liberty chair](https://www.humanscale.com/products/product.cfm?group=LibertyTaskChair). We have a couple at home. They are in pretty wide circulation and so almost always [available secondhand on GumTree](https://www.gumtree.com/search?search_category=all&q=humanscale) (where we got ours) or elsewhere.

[2017-05-28 01:47] iteles commented on #76
@mantagen We just water them whenever someone remembers. But we should have a system as they really make a difference to the space!

Do you know what their watering needs are/have a system suggestion?

[2017-05-29 10:31] mantagen commented on #76
I don't know their watering needs, but I would suggest that someone attempts to identify the plans and looks into their care requirements. Next time I'm around I'm happy to investigate further. Once the plants' care needs are identified, it would be worth documenting it and either having someone assigned to that duty or create a rota so that their needs are met : )

[2017-05-29 15:50] iteles commented on #76
@markwilliamfirth Gold star chart? 😉
![gold-star-chart](https://primary.community/wp-content/uploads/2017/04/gold.star_.web_.jpg)

[2017-05-30 08:17] Cleop commented on #52
I'm up for joining in (once I'm back next week!) Second home have a fair amount of video content on their site/ YT e.g. https://www.youtube.com/watch?v=m8OZqQZ9oro or https://secondhome.io/

Sounds good and exciting! I've also got a gopro in case that can be of use.

[2017-05-30 09:23] markwilliamfirth opened #80 "WiFi Security"
Bearing in mind the security talk we had on Friday we should review our WiFi security.

[2017-05-30 11:01] sohilpandya commented on #52
Sweet! @markwilliamfirth @Cleop whens a good time for us to catch up and do some storyboarding?

Can we pick a date?

[2017-05-30 11:10] iteles commented on #39
We never did do this and going into summer, I don't think we want to.
Founders & Coders and propping up their door with boxes because the door closer is so tight a normal wedge won't hold it.

Let's revisit this in winter, depending on where we are with #27

[2017-05-30 11:10] #39 closed

[2017-05-30 11:13] iteles commented on #30
@markwilliamfirth Can this be closed for now? Looking at the `priority-1` issues and this doesn't seem to be one given we've agreed hours #57 and got a quick website up? #35

[2017-05-30 11:14] iteles commented on #73
@markwilliamfirth I suggest that we just fire through the confirmation statement for FY16/17 and change the directors for the next financial year as I think we officially took over in April or May anyway?

[2017-05-30 11:16] iteles commented on #11
This has been mentioned as a reason not to rent a desk by at least 2 people, so it's now a top priority!

[2017-05-30 11:18] sohilpandya commented on #11
@iteles that is a bummer!

Is it worth investigating the lights found in this comment? https://github.com/dwyl/focushub/issues/11#issue-206365476

[2017-05-30 12:12] markwilliamfirth commented on #73
@iteles yes - this needs to be done by me today - we have the auth code

[2017-05-30 12:13] markwilliamfirth commented on #30
@iteles the proposal still requires updating to align with our offering

[2017-05-30 13:00] iteles commented on #30
@markwilliamfirth Can we then bump the priority on getting this done down to at least `priority-2`? It's not costing us money whereas the other p1s are...

[2017-05-30 13:01] markwilliamfirth commented on #30
Yeah - agreed

[2017-05-30 14:19] Cleop commented on #52
I'm back on Thursday next week 🗓

[2017-05-31 08:33] markwilliamfirth commented on #80
@evilpacket Hey Adam! Thanks so much for the talk you gave us - I had a quick question spring to mind. We have a co-working space and our WiFi password is a memorable word so that the members of the space know it (lot’s of other coworking spaces, such as WeWork, do this). However is this not a good idea in terms of security? Should we be making the WiFi password really complex and difficult to gue

[2017-05-31 08:39] markwilliamfirth commented on #3
Have called again and requested a recollection - waiting for confirmation

[2017-05-31 08:40] markwilliamfirth commented on #75
Chased again

[2017-05-31 11:22] markwilliamfirth commented on #75
@sohilpandya would you be able to keep the £20 note and make a bank payment of £19 to the QuietSpace account (I can send you account deets)? If not can you give me the £20 note when I see you and I'll make the transfer

[2017-05-31 11:58] sohilpandya commented on #75
@markwilliamfirth I forwarded that note to @iteles 😟

[2017-05-31 13:08] markwilliamfirth commented on #75
ok cool - so if @iteles has the note... @iteles could you make a payment to QS?

[2017-05-31 13:22] markwilliamfirth commented on #56
No

[2017-05-31 13:22] #56 closed

[2017-05-31 13:22] markwilliamfirth commented on #73
Completed yesterday

[2017-05-31 13:22] #73 closed

[2017-05-31 14:22] markwilliamfirth commented on #3
Council called me back

Apparently the collections team did come, but they couldn't find it (probably because we told them it would be left by the bins and it wasn't left by the bins).

They're going to come and collect it within the next 24h so it needs to be moved near the bins now

Can someone help me move it because I don't think I'll be able to move it alone?

[2017-05-31 15:25] iteles commented on #75
Yep!

[2017-05-31 15:36] iteles commented on #75
Done! 👍

[2017-05-31 15:36] #75 closed

[2017-05-31 15:37] markwilliamfirth opened #81 "Focus Hub Invoices"
Send out Focus Hub Invoices

[2017-05-31 16:27] evilpacket commented on #80
Here is what came out top of mind. If you don't use a complex password (and turn off WPS if it's on on your router) and it's fairly public to get the password it should be considered an open network. That means untrusted network (think coffee shop wifi). The best option is for you to use a fairly complex but memorable password and for members with high security needs to use a vpn service while the

[2017-05-31 17:01] iteles commented on #33
@markwilliamfirth confirmed the auth code finally arrived and was able to authenticate and file confirmation statement in #73 👍

[2017-05-31 17:01] #33 closed

[2017-06-01 08:48] markwilliamfirth commented on #3
I think the fridge is gone? O_o ...they must have took it this morning 🥇

[2017-06-01 08:48] #3 closed

[2017-06-01 08:59] markwilliamfirth opened #82 "Post"
There is a lot of post that needs sorting out in Focus Hub

[2017-06-01 09:15] iteles commented on #82
I would suggest we create a system so that people receiving post in the morning know where to put it and separate it (or it will pile up on the front table from July onwards when I'm not around) 👍

[2017-06-01 17:03] markwilliamfirth opened #83 "Canon Printer Ink"
Canon Printer needs more ink

Required to print House Rules + Focus Times

[2017-06-01 17:04] markwilliamfirth commented on #78
On further reflection if these House Rules are to be displayed the language needs to be adapted to be less legal

[2017-06-01 17:05] markwilliamfirth commented on #57
House Rules need to be updated https://github.com/dwyl/focushub/issues/78#issuecomment-305557258

[2017-06-01 17:22] nelsonic commented on #39
F&C could simply disconnect the door stopper for the 3 weeks of summer.
(_nobody has tried to think of the simplest solution to the problem_)
Anyway.

[2017-06-02 00:15] iteles commented on #78
I would suggest we get the quiet hours up on the wall today and then make the formal house rules a thing next week if you have higher priority things to be working on @markwilliamfirth.

I'm very happy with something super temporary but we need to start enforcing those hours _yesterday_ (today I had to resort to shallow work for the whole morning) please.

[2017-06-02 07:46] markwilliamfirth commented on #78
@iteles I was going to do it yesterday, but the printer ink has run out #83

[2017-06-02 07:46] markwilliamfirth commented on #83
@iteles is there a particular one you bought last time? Gonna suggest: https://www.amazon.co.uk/Cartridges-PGI550XL-CLI551XL-Compatible-CLI-551GY/dp/B00R650CM8/ref=sr_1_1?ie=UTF8&qid=1496336903&sr=8-1&keywords=canon+%22ip8700%22+ink

[2017-06-02 08:23] iteles commented on #83
@markwilliamfirth Happy with whatever you suggest works :+1:

[2017-06-02 08:41] markwilliamfirth commented on #83
Have purchased 👍

[2017-06-02 08:41] #83 closed

[2017-06-02 11:05] #67 closed

[2017-06-02 11:08] sohilpandya commented on #66
@markwilliamfirth have we chased anyone up with regards to the crappy internet. We really need to sort out the internet!

It cuts out frequently and the current tennants are nice enought to come to me and ask if its down or now and if they can use the FAC network.

Can we do somethign about this?

[2017-06-02 11:33] markwilliamfirth commented on #1
Closed as we have a new router

[2017-06-02 11:33] #1 closed

[2017-06-02 11:38] ghost opened #84 "Poor WiFi / Internet"
https://github.com/dwyl/focushub/issues/65
https://github.com/dwyl/focushub/issues/50
https://github.com/dwyl/focushub/issues/66

Internet has proven to be consistently poor

Sohil's most recent report: https://github.com/dwyl/focushub/issues/66#issuecomment-305757749

We need to look into what's causing this and fix the problem.

TalkTalk have said the connection is fine, which means it must be a

[2017-06-02 11:38] markwilliamfirth commented on #65
Closing in favour of https://github.com/dwyl/focushub/issues/84

[2017-06-02 11:38] #65 closed

[2017-06-02 11:38] markwilliamfirth commented on #66
New thread here: https://github.com/dwyl/focushub/issues/84

[2017-06-02 11:40] markwilliamfirth opened #85 "Research Alternative Internet Providers"
Based on https://github.com/dwyl/focushub/issues/84

[2017-06-02 14:35] markwilliamfirth opened #86 "Fridge Sometimes Makes Odd Continuous Noise"
Doesn't seem to be a problem all the time, but if it continues to happen then we should look into getting it fixed

[2017-06-02 14:49] iteles commented on #84
They definitely existed. Most people used the FAC network when they were here

[2017-06-02 15:56] markwilliamfirth commented on #84
The FAC network is also provided by TalkTalk, so why would our WiFi be worse? Interference?
 Perhaps we need to change the router WiFi channels? Reposition the router? Anyone else have ideas?

[2017-06-02 16:31] markwilliamfirth commented on #85
Hyperoptic would need to install a dedicated line, so they are not a realistic alternative

Have requested a quote from [Telcom](https://telcom.io/)

[2017-06-02 16:35] markwilliamfirth opened #87 "Focus Hub Bank Reconciliations"
Focus Hub Bank Reconciliations

[2017-06-02 17:03] iteles commented on #85
Let's steer clear of Virgin Media, they're AWFUL.

[2017-06-02 17:23] markwilliamfirth commented on #49
Closed in favour of https://github.com/dwyl/focushub/issues/60

[2017-06-02 17:23] markwilliamfirth commented on #60
Payment for June required

[2017-06-02 19:13] iteles commented on #60
Done 👍

[2017-06-03 08:38] markwilliamfirth commented on #18
http://theboutiqueworkplace.co/

[2017-06-05 10:56] markwilliamfirth opened #88 "Printing Services"
Decide whether we should offer printing services to coworking space users

[2017-06-05 11:00] markwilliamfirth opened #89 "Add Mark to QS Bank"
Add Mark to QS Bank

[2017-06-05 11:01] markwilliamfirth opened #90 "Update QS Shareholder Details"
Update QS Shareholder Details

[2017-06-05 11:05] markwilliamfirth commented on #37
@iteles when are you available this week so we can tackle the shower room?

[2017-06-05 11:08] markwilliamfirth opened #91 "Focus Hub Business Plan"
Focus Hub Business Plan

[2017-06-05 13:01] iteles commented on #37
That needs to be tackled with @sohilpandya, I haven't a clue what's in there!

[2017-06-05 13:02] iteles commented on #90
This is done isn't it? I got an email saying DWYL LTD. had been made a shareholder on companies house.

[2017-06-05 13:42] markwilliamfirth commented on #90
@iteles no - that was adding DWYL LTD as a corporate director. The shareholder details haven't changed. You and Dan still own the shares

[2017-06-05 14:21] nelsonic commented on #11
Downgrading priority as this is not _costing_ us money each day.
(_unless one of the (paying) members complains about the lighting in which case we can increase priority..._)

Note: I still think lighting is super-important for overall wellbeing at work! 👍

[2017-06-05 14:31] iteles commented on #11
It's only _costing_ us in lost revenue.

This is a 30 minute or a one hour task max. Let's just get this done please. It's not hard or time consuming.

[2017-06-05 14:32] nelsonic commented on #11
Apologies. I mistakenly downgraded the priority. People are not renting desks because of poor lighting! 😞

[2017-06-05 16:27] markwilliamfirth commented on #84
Quote from Telecom:

50Mbps (100Mbps bearer) - £390 /month
100Mbps (100Mbps bearer) - £470 /month best value!
100Mbps (1Gbps bearer) - £600 /month
200Mbps (1Gbps bearer) - £650 /month
500Mbps (1Gbps bearer) - £750 /month currently on promotional price!
All of the above are based on a 36 month term with a £499 installation fee on a 100Mbps bearer and £999 install fee when on a 1Gbps bearer.

[2017-06-05 16:27] markwilliamfirth commented on #85
Quote from Telcom:

50Mbps (100Mbps bearer) - £390 /month
100Mbps (100Mbps bearer) - £470 /month best value!
100Mbps (1Gbps bearer) - £600 /month
200Mbps (1Gbps bearer) - £650 /month
500Mbps (1Gbps bearer) - £750 /month currently on promotional price!
All of the above are based on a 36 month term with a £499 installation fee on a 100Mbps bearer and £999 install fee when on a 1Gbps bearer.

[2017-06-05 16:59] iteles commented on #85
That's a BS offer.

[2017-06-05 17:30] iteles commented on #84
https://github.com/foundersandcoders/london-programme/issues/245

[2017-06-05 19:05] markwilliamfirth commented on #84
Oh wow - next door as well then

[2017-06-05 20:27] sohilpandya commented on #37
I will need to do it with you.... When are you in?

[2017-06-05 20:47] jackcarlisle commented on #37
@markwilliamfirth Oh yeah I know the one you mean! I'll take it home

[2017-06-06 09:04] sohilpandya commented on #41
@markwilliamfirth @iteles I'm sorry but this is P-1 IMO, We need a door mat!

Can we please just order one?

[2017-06-06 09:27] iteles commented on #41
Agreed. It's gross in here when it rains and it's going to rain all week.

I suggest https://www.amazon.co.uk/d/Home-Kitchen/Trapper-Sizes-Available-Anthracite-Mottled/B00KSBXV4S/

Prime delivery, big, hides the dirt. @markwilliamfirth any objections or can we order it today?

[2017-06-06 09:30] markwilliamfirth commented on #41
@iteles @sohilpandya if you think we need a stopgap for this then yes go ahead - Focus Hub branded welcome mats are a long way off!

[2017-06-06 09:45] iteles commented on #41
@markwilliamfirth Sohil doesn't have access to the dwyl/FocusHub amazon account.

I've ordered this and should arrive tomorrow.

[2017-06-07 16:51] markwilliamfirth commented on #83
Installed

[2017-06-07 17:05] markwilliamfirth commented on #85
As far as I understand:
We don't have many options because the connection is being sent over a neighbourhood shared cable (ADSL / FTTC connection). The only way to resolve this is to get a dedicated leased line (which is expensive).

He said he could take another 10% off the price. We could also maybe share the price with Founders & Coders if they'd be interested? So we could maybe get something f

[2017-06-07 17:39] markwilliamfirth opened #92 "Bring down White Tack + Command Strips"
Buy White Tack

[2017-06-07 17:40] markwilliamfirth commented on #77
Have put up some temporary paper [signs](https://docs.google.com/presentation/d/1rCG7dbQfJVo8haUryup7cf2tbDpjAre7_e-f5aMmFh0/edit#slide=id.g1e4459c97d_0_0) in between the tables

Will design proper signs and make laminated ones

https://github.com/dwyl/focushub/issues/92

[2017-06-07 21:41] iteles commented on #92
I have white tack and can bring it down but I also advise against white tack as it stains the wall. Command strips are much better.

[2017-06-08 09:14] markwilliamfirth commented on #77
Have sent an email to co-working space users in communicate the times to them

[2017-06-08 09:15] markwilliamfirth commented on #92
@iteles do you have command strips too?

[2017-06-08 10:45] markwilliamfirth opened #93 "Current Tenants Have Concerns About Power Hours"
Last night signs were put up and tenants at Focus Hub were emailed to notify them #77  of the new Power Hours #55

I immediately received feedback from Volodia that he wasn't sure if he'd be able to stick to them as he has international phone calls with clients (sometimes multiple stakeholders in different timezones) that he cannot control the scheduling of.

Rujuta also emailed me to say that she

[2017-06-08 10:49] markwilliamfirth commented on #77
Lowering the priority as this has been effectively communicated - proper laminated signs will be created once we've finalised our logo and branding

[2017-06-08 10:59] markwilliamfirth commented on #87
Currently in communication with freeagent to reconcile 180 1st march payment that appears in bank, but not on freeagent

[2017-06-08 11:26] markwilliamfirth commented on #93
Volodia was also on a call during the first Power Hour this morning

[2017-06-08 11:31] iteles commented on #93
Volodia is the only one who shouldn't be complaining as he became a tenant _after_ we took over so should have known about these from the beginning.
Happy to let people ease into it, they can't cancel existing commitments.

This also isn't about people not talking, it's about a time to remember to lower the volume.

[2017-06-08 11:38] markwilliamfirth opened #94 "Splitting Quiet / Noise by Space Rather than Time"
At the moment we have Power Hours at Focus Hub https://github.com/dwyl/focushub/issues/55 that split quiet and noise by periods of time. This is quite unique and could prove difficult to enforce due to people needing to take unexpected calls and meetings they cannot control https://github.com/dwyl/focushub/issues/93

Most spaces that enforce quiet and noisy times/spaces do this by space rather tha

[2017-06-08 11:47] markwilliamfirth commented on #93
@iteles it was explained to him when he signed up (in fact it was the 4 slots a day that were told to him) and he did mention that it might cause issues for him, but he decided to join anyway.

Agreed - the signs say try to keep noise to a minimum, but they don't outright say "no talking". However often on phone calls people can be quite loud as it's difficult for people on the other end to hear i

[2017-06-08 13:48] markwilliamfirth commented on #85
After 4 emails, he said the lowest he can absolutely do (I think we can probably get him to go lower) for a 30Mbps (100Mbps bearer) leased line is £360/month.

So if we shared this with Founders & Coders we'd be looking at £180/month each for the leased line.

Anyone have any thoughts on this?

[2017-06-08 14:56] markwilliamfirth commented on #85
I pushed back again, he said the best he can do is:

£499 install, £342 per month
£0 install, £360 per month

[2017-06-08 16:56] markwilliamfirth commented on #74
Bumping down the priority on this until our logo and branding is finalised

[2017-06-09 09:52] markwilliamfirth commented on #84
<img width="755" alt="screen shot 2017-06-09 at 10 52 02" src="https://user-images.githubusercontent.com/5732209/26970548-b3f7291c-4d01-11e7-8a55-6ee72b84ad1d.png">

This is becoming a big problem

[2017-06-09 09:55] markwilliamfirth commented on #85
@iteles I'm thinking we should share the leased line with FAC and go ahead with this

[2017-06-09 10:14] iteles commented on #85
@markwilliamfirth I think that that is a ridiculous amount of money for internet given we have nowhere near a full house.

Is there a minimum contract length?

[2017-06-09 10:22] markwilliamfirth commented on #85
@iteles

Leased lines are quite expensive, we could try swapping providers instead, but I was advised by Telcom that we might not see much of a difference as the connection is still ADSL/FTTC - he could have misinformed me though? What do you think?

We should be actioning our offering to current tenants - if they are paying for the space with the understanding that the internet is adequate, then

[2017-06-09 10:27] iteles commented on #85
We (and F&C) aren't going to be in this office for 36 months. It's unfeasible if that's the minimum term. 8 - 12 months is more realistic, 6 months for Founders & Coders.

I suggest we also call up some alternative providers and ask if they can either send an engineer round to check out the situation or provide some guarantees that the service will be better.
As @jsms90 has said, talk talk are par

[2017-06-09 10:32] markwilliamfirth commented on #85
@iteles

I wasn't aware of that - can we add this here? #91

Bearing this in mind should we really be investing that much money and time into the space e.g. digital door lock etc? #39

I will get quotes from some other ADSL/FTTC providers

[2017-06-09 10:42] iteles commented on #85
What I meant was, it's ridiculous to be paying almost £4500 a year for internet full stop, but to have that as a 36 months commitment is insane. In 8-12 months there will be cheaper alternatives available _guaranteed_ independently of how long we're here.

[2017-06-09 10:52] markwilliamfirth commented on #84
I've sent a complaint to talktalk

[2017-06-09 11:34] markwilliamfirth commented on #85
If we share the cost with F&C it's only 180 per month, which is equivalent to one tenant (bearing in mind we have a tenant that will leave if it isn't fixed I don't think it's that bad)

I'll keep looking into ADSL/FTTC solutions

[2017-06-09 13:05] markwilliamfirth commented on #84
08000833003
Complaint reference 17856516
Engineer reference TCK8776615

Engineer coming next week, appointment time TBC

[2017-06-09 13:07] markwilliamfirth commented on #85
BT
<img width="718" alt="screen shot 2017-06-09 at 14 07 09" src="https://user-images.githubusercontent.com/5732209/26976720-f812f020-4d1c-11e7-9204-ef226a1c07ad.png">

[2017-06-09 13:08] markwilliamfirth commented on #85
Sky
https://d1iyvc6w63ago2.cloudfront.net/asset/ec606961d0b0f474830f/Offices_UK_Jan17_web.pdf

[2017-06-09 14:35] markwilliamfirth commented on #85
Hi Mark,

Thank you for your time today in regards to improving the connectivity.

As discussed, one big difference in providers is the level of traffic shaping/throttling that can occur.

TalkTalk have told you there is no fault on the line, you have changed router, so we can only assume this is the cause of the drops, a congested network.

The majority of the “top 4” providers have to traffic sh

[2017-06-09 16:11] markwilliamfirth commented on #87
@iteles please could you send me a screenshot of the 180 31st march payment? Need it to send to freeagent

[2017-06-09 16:29] markwilliamfirth commented on #46
@iteles I think we should do some google adwords - there is an offer to receive £75 in free advertising credit for £25 - happy for me to give this s try?

[2017-06-09 16:33] markwilliamfirth commented on #92
@iteles to bring white tack and command strips downstairs to the space for use

[2017-06-09 16:41] markwilliamfirth commented on #78
Bumping down the priority on this until https://github.com/dwyl/focushub/issues/57#issuecomment-305557559

[2017-06-09 16:44] markwilliamfirth commented on #89
@iteles do you have a debit card for the QS bank account? Does Dan?

[2017-06-09 16:48] markwilliamfirth commented on #57
I'm not entirely sure if we need these - the original draft was based on the legal agreement. For day-to-day rules our only actual rule at the moment is the quiet hours. @nelsonic @iteles do you have other rules in mind for the space?

[2017-06-09 19:16] iteles commented on #87
It's from the 1st March as per your first comment and as we saw together yesterday.
<img width="528" alt="screen shot 2017-06-09 at 20 14 07" src="https://user-images.githubusercontent.com/4185328/26990917-5c87ef96-4d50-11e7-999d-e59a1fd7c261.png">

This is also the _third_ time I've had to log in to internet banking and search for this payment. They have now wasted over £100 of our time collectiv

[2017-06-09 19:39] iteles commented on #89
@markwilliamfirth Dan did and he actually gave his to me last week.
I don't think I do (or if I do, it's filed away as I've never used it).

[2017-06-09 19:41] iteles commented on #57
Wash your crockery, leave the space tidy, here are the emergency contact numbers, here's how you get hold of the people running the space if you have questions, this is the space you're entitled to (i.e. not the shelves), etc.

[2017-06-09 19:44] iteles commented on #46
No problem in principle with this offer but a few questions first:
+ How are you going to choose the keywords?
+ How are you going to measure the results?
+ Is the website up to date?
+ Is the website already SEO optimised?

[2017-06-09 19:48] iteles commented on #92
Left the Command strips I have in the office this morning.
As I said above, white tack will damage the walls.

[2017-06-09 19:48] #92 closed

[2017-06-12 14:36] markwilliamfirth commented on #93
In the space today and have noticed some tenants aren't adhering to the afternoon Power Hour

[2017-06-12 14:52] iteles commented on #93
You weren't in in the morning but they were on calls through your that too.

[2017-06-12 16:29] markwilliamfirth commented on #87
I'm in contact with freeagent

[2017-06-12 16:58] markwilliamfirth commented on #87
After confirmation from Thirze, Diane Shaw's overdue invoices were deleted and Delroy Matty's final invoice was written off.

[2017-06-13 15:19] markwilliamfirth commented on #84
<img width="755" alt="screen shot 2017-06-13 at 16 19 18" src="https://user-images.githubusercontent.com/5732209/27090083-1f45f126-5054-11e7-9ce8-aecacd5bd98d.png">

[2017-06-14 15:32] markwilliamfirth commented on #84
<img width="816" alt="screen shot 2017-06-14 at 16 31 02" src="https://user-images.githubusercontent.com/5732209/27140999-eff13c3e-511e-11e7-85d2-2bdff25afb34.png">

So apparently talktalk visited without telling me they would...even though they were meant to notify me of when the appointment was...hopefully this improves things though

[2017-06-14 15:36] markwilliamfirth commented on #85
<img width="753" alt="screen shot 2017-06-14 at 16 36 10" src="https://user-images.githubusercontent.com/5732209/27141233-a15b725a-511f-11e7-9827-8087ca7d2417.png">

[2017-06-15 10:36] markwilliamfirth commented on #85
Virgin Media VMB@connectivity-business.com

![option 1 builder](https://user-images.githubusercontent.com/5732209/27177611-d654046e-51be-11e7-922b-fe6058c3b97d.PNG)
![option 2 bundle builder](https://user-images.githubusercontent.com/5732209/27177612-d7c1db1e-51be-11e7-8812-16fc80c07976.PNG)
![option 3 bundle builder](https://user-images.githubusercontent.com/5732209/27177614-d9001c02-51be-11e7-89

[2017-06-15 13:26] iteles commented on #85
Virgin media have TERRIBLE customer service (for home residents, never used business).

Zen is looking promising so far?

[2017-06-15 13:30] markwilliamfirth commented on #85
Hyperoptic:

Whilst we have neighbouring Hyperoptic Residential installations and having looked at your location our only option for dwyl  is to provide a dedicated 100Mb leased line.

This unlike an inbuilding contended Broadband service is a dedicated 100Mb up/down direct uncontended  fibre.

Rental £350.00 per month
Installation/Connection £2250.00

**After negotiating:**

Unfortunately there i

[2017-06-15 16:15] iteles commented on #85
We have hyperoptic in our flat and I'm not overly impressed. I don't think this is worth the money.

[2017-06-19 08:57] iteles commented on #91
Shared by @simonlab 😍  https://rradczewski.github.io/ymmv/2017/06/Where-we-are-going-we-dont-need-headphones

[2017-06-19 13:25] markwilliamfirth commented on #82
Waiting on response from Thirze

[2017-06-20 14:45] markwilliamfirth commented on #93
Yeah it's clear these aren't being adhered to at all

[2017-06-22 12:30] markwilliamfirth opened #95 "Update Focus Hub Website"
https://github.com/dwyl/focushub/issues/46#issuecomment-307482343

[2017-06-22 12:31] markwilliamfirth opened #96 "SEO Optimise Focus Hub Website"
https://github.com/dwyl/focushub/issues/46#issuecomment-307482343

[2017-06-22 12:33] markwilliamfirth commented on #46
How are you going to measure the results?

Will need to look into adwords more to know the answer to these

[2017-06-22 12:49] iteles commented on #95
I'm happy with whatever you want to do here - the only stipulation is that those desks downstairs have to be cleared at the end of the day so monitors etc wouldn't be possible.

Whatever you think works!

[2017-06-22 16:36] markwilliamfirth commented on #95
This has been updated

Contact form now points to the correct email

References to Quietspace Limited updated to Focus Hub Ltd

24/7 access updated

[2017-06-22 16:36] #95 closed

[2017-06-26 13:15] markwilliamfirth opened #97 "Offering a Registered Office Service"
We currently offer hot desk and fixed desk rental services

We also currently operate as a registered office for Label Print Services, despite the fact they are not a tenant.

Founder London have also asked us if we would like to offer a registered office service to them, including opening letters, taking photos of them and sending them to them. If we decline their offer they will move their regis

[2017-06-26 13:25] iteles commented on #97
@markwilliamfirth

The key thing for us to understand here is how long the various tasks would take in terms of time on a per month basis, including initial setup and a quick website amendment.

I suspect that it's not worth our while at the current rate we are paying people who work for us - also a waste of skills. But it might be worth it if we can find some students living in the area who want

[2017-06-27 14:04] iteles commented on #84
@markwilliamfirth Could you check in with Volodia?

I haven't had any issues since the above at all and have just checked with Rujuta who has had none either.

[2017-06-27 15:00] markwilliamfirth commented on #89
http://www.santander.co.uk/csdlvlr/BlobServer?blobtable=MungoBlobs&blobkey=id&blobcol=urldata&blobheader=application%2Fpdf&blobheadervalue1=inline%3Bfilename%3DBB+Change+of+details+form+do-ec-029.pdf&blobwhere=1314023422663&blobheadername1=Content-Disposition

[2017-06-27 15:30] iteles opened #98 "Change name on bank account to Focus Hub Ltd"
As a client of Focus Hub's, I would like to have the name on the invoice match the name on the line item in my bank account for rent. At the moment, that's still QuietSpace Ltd.

[2017-06-27 15:32] markwilliamfirth commented on #84
<img width="761" alt="screen shot 2017-06-27 at 16 31 33" src="https://user-images.githubusercontent.com/5732209/27596009-3553bdba-5b56-11e7-96b5-a9f04c21f678.png">

[2017-06-27 15:50] iteles commented on #98
Should be done in 48hours and they'll send me a text message when finalised.

[2017-07-06 12:08] sohilpandya commented on #84
Just had a couple of dropouts, one in the evening yesterday and another one just now.

[2017-07-06 13:41] markwilliamfirth commented on #84
@sohilpandya is it still bad? Is it the same problem as last time? Will drop out for a bit and then come back on?

[2017-07-07 11:41] Jbarget opened #99 "Recycling bin"
Would be great to have a bin for recycling with info on what can be recycled. At the moment the process is very disjointed and imagine we're throwing a lot of recyclable in the normal bin 😢

@markwilliamfirth

[2017-07-07 11:48] Jbarget opened #100 "Food waste recycling"
In line with DWYLs values (I cant find the readme that would have dwyls values in it) i think it would be great to start composting.

I've been using [this](https://evengreener.com/composting/wormeries/can-o-worms-3-tier-wormery-canowvpwi?returnurl=%2fcomposting%2fwormeries%2f%23canowvpwi) and all is working great. I know @iteles wanted to know whether it would smell bad, and I can say there is no

[2017-07-07 15:35] ZooeyMiller commented on #99
I agree. I take my recyclables next door to no. 14 or straight into the purple bins at the moment as I'm not sure where to put it in Focus Hub.

[2017-07-07 15:52] ZooeyMiller commented on #100
What would be done with the compost? Would it be taken by a waste collection business? Or would someone take it for a garden?

Definitely need a plan of what to do with the compost before starting imo.

[2017-07-07 16:07] Jbarget commented on #100
The rate at which the food waste is turned into compost is fairly slow, i've got about 750 grams of worms in my one and it takes them about 2-3 weeks to digest 1.5 litres of food waste (roughly 1-2 weeks of food waste).

I reckon we could have a policy for people to take compost if they need. We also have lots of neighbours at focus hub (upstairs on the decking) who have plants in their front gard

[2017-07-10 11:14] sohilpandya commented on #84
Same as before drops out for a bit and then comes back on. 😟

[2017-07-10 11:25] markwilliamfirth commented on #84
uh oh..

[2017-07-11 07:19] nelsonic commented on #91
@markwilliamfirth _please_ let us know if you need _anything_ to get this done. thanks! 👍

[2017-07-11 07:25] nelsonic opened #101 "Summary of FocusHub Progress"
In order to determine the Progress towards our _Goal_ of breaking even on running the Co-working Space, we need:

+ [ ] _Current **Occupancy Rate**_
+ [ ] Any ***feedback*** we have collected from _current_ members
+ [ ] ***Required*** occupancy rate to achieve break even.
+ [ ] List of "**Leads***" of people who have contacted us about working the space. (_link to spreadsheet/google doc_?)

relat

[2017-07-11 07:31] markwilliamfirth commented on #91
@nelsonic not sure this one sits with me as it is bizdev - should be CEO, no?

[2017-07-11 07:35] nelsonic commented on #91
@markwilliamfirth hmm... good question! 🤔
perhaps this should be clarified. today. 👍

[2017-07-11 07:53] markwilliamfirth commented on #91
Linked to https://github.com/dwyl/hq/issues/324

[2017-07-11 10:48] sohilpandya opened #102 "Raising Invoice - items bought for focushub"
Hey @markwilliamfirth,

I've just ordered another set of Loo Rolls from Amazon as it was cheap due to the Amazon day deals. I've now ordered it a couple of times and wondered what the best way to send the invoice over for this would be? Does it even need to be an invoice or can I just let you know how much the total cost has been so far?

Related to #67

[2017-07-11 11:10] markwilliamfirth commented on #102
@sohilpandya if you send me the receipts to hello@focushub.co.uk I can reimburse you 👍

[2017-07-13 09:34] sohilpandya commented on #84
The internet is just down now and has been since I've arrived. 😟

It's strange as the one in 14 is working as we're all connected to it. just our one....

[2017-07-13 12:38] markwilliamfirth commented on #84
@sohilpandya I'm at a client site today - can you confirm the times it's been down? 9am-10.30am? I assume resetting the router / turning it on/off again doesn't solve the issue?

[2017-07-13 16:16] markwilliamfirth commented on #87
<img width="891" alt="screen shot 2017-07-13 at 17 15 15" src="https://user-images.githubusercontent.com/5732209/28176337-e71587d2-67ee-11e7-9ecd-5cdc531a0589.png">

These are the only remaining unknown transactions

@sofer could you clarify what these are?

[2017-07-14 17:38] sohilpandya commented on #102
Done.

[2017-07-17 10:09] sohilpandya commented on #84
I think those timings are correct, It has just happened again at 11:00, I'm getting a bit annoyed by this. 😢

[2017-07-17 12:03] iteles commented on #84
SO WEIRD. Shall we get an engineer to go out again?

[2017-07-20 11:13] markwilliamfirth commented on #82
This has all been sorted now

[2017-07-20 11:13] #82 closed

[2017-07-20 11:16] markwilliamfirth commented on #37
Most of this has been removed now - we cleaned the space as we were having viewings

I'm giving Hands on a final deadline for the weird doll heads
@jackcarlisle I've put your bag near the storage units in number 14

Still to sort:
- Shower Room
- Black shelves upstairs

[2017-07-28 09:35] markwilliamfirth commented on #102
@sohilpandya this has been reimbursed! In future just send me an amazon link to whatever we need and I can buy it on the dwyl account - means you won't be out of pocket waiting for reimbursements :)

[2017-07-28 09:35] #102 closed

[2017-07-28 15:11] markwilliamfirth commented on #87
@sofer just a nudge on this one! :)

[2017-07-28 15:52] markwilliamfirth commented on #69
After about 10 appeals ( 😡 ) this has **FINALLY** been updated

https://www.facebook.com/focushublondon

They accepted: **Focus Hub - East London Co-working**

[2017-07-28 15:52] #69 closed

[2017-07-29 11:48] sohilpandya commented on #102
Perfect! 😊

[2017-07-29 17:52] sofer commented on #87
@markwilliamfirth thank you for the double nudge. I am not at all sure what those are, but I am happy to spend a bit of time trying to make sense of it with you on freeagent next week.

[2017-08-01 13:19] markwilliamfirth commented on #37
Doll heads etc at front of office have been couriered to St Mungos

[2017-08-01 14:49] markwilliamfirth commented on #89
@iteles should we do this whilst we're in Portugal together (i.e. today)? Requires signing so might be best to do it now - I'll need to set up the printer. Do we have paper and ink etc?

[2017-08-01 14:56] markwilliamfirth commented on #81
<img width="1213" alt="screen shot 2017-08-01 at 15 54 26" src="https://user-images.githubusercontent.com/5732209/28831554-c6cdbb74-76d1-11e7-8e11-7e6904d45012.png">

I've automated the monthly invoicing. The only admin associated with this now is the charging of miscellaneous days for business partners etc

[2017-08-01 15:28] iteles commented on #89
We have everything, feel free to set up the printer 👍

[2017-08-04 11:46] markwilliamfirth commented on #85
http://www.inifi.co.uk/

Tan@inifi.co.uk

our full fibre services start at around £300 per month for 100Mb symmetrical internet line and our managed WiFi services start from £250 per month.

[2017-08-09 20:53] markwilliamfirth commented on #89
In the end there wasn't enough time to set up the printer and do this during Portugal, so pushing this back until Inês and Nelson are back in the UK again

[2017-08-10 14:17] Cleop opened #103 "Need larger soap supplies"
@markwilliamfirth Please can we buy soap in larger quantities?

A number of times now the soap will be depleted and people resort to watering it down 💧 .

Whilst someone with a dwyl card may not be in the space all of the time, if we buy soap in bulk I'm sure FH members would be able to pop a new one in the bathroom  🚻  if they know where to find them.

[2017-08-10 14:47] markwilliamfirth commented on #103
Sounds like a good plan!

10 of these arriving tomorrow 👍

<img width="934" alt="screen shot 2017-08-10 at 15 47 12" src="https://user-images.githubusercontent.com/5732209/29176250-36f9c7a4-7de3-11e7-96e3-85d9d93caa3b.png">

[2017-08-10 14:47] #103 closed

[2017-08-10 19:15] markwilliamfirth commented on #87
@sofer helped me solve this mystery! They were bank charges.

This means now ALL of the Focus Hub transactions have been reconciled 🚀 😍 !!

[2017-08-10 19:15] #87 closed

[2017-08-12 16:31] jackcarlisle opened #104 "Weekend Workshop"
Hey @markwilliamfirth  I have a couple of friends who are interested in finding out a bit more about coding so I said I'd do a weekend workshop with them and I thought that it would be great if I could use the Focus Hub space.

I've spoken to @iteles who told me to ask about where I could find the house rules for the day?

Thanks!

p.s. I'll confirm with a date soon

[2017-08-13 09:20] iteles commented on #104
And also check availability with @markwilliamfirth 👍

[2017-08-15 10:39] markwilliamfirth commented on #104
@jackcarlisle they're here: https://github.com/dwyl/focushub/blob/master/house-rules.md

Most important thing to remember is to ensure everything is clean and locked up when you leave

What date and time do you want to use the space?

[2017-08-15 11:08] jackcarlisle commented on #104
Ok thank you @markwilliamfirth ! The date and time is tbc but I'll let you know as soon as I get it sorted.

[2017-08-15 11:38] sohilpandya commented on #84
**CAN WE PLEASE SORT THIS OUT***

@markwilliamfirth is there an alternative or should I consider buying one of those 4g dongles.... It is really annoying to not be able to consistently connect to the internet.

[2017-08-15 12:28] markwilliamfirth commented on #84
@sohilpandya can you tell me what's happened today? Were there outages? What time? If you let me know I'll submit a complaint to TalkTalk.

[2017-08-15 14:59] iteles commented on #84
@markwilliamfirth Please can we call and get an engineer to come out asap, from what I can gather from this issue there have been consistent outages for more than a month now.

[2017-08-15 15:04] markwilliamfirth commented on #84
@iteles in order to make you a complaint you have to describe the issue and when the issue occurred so they can check the connectivity history

[2017-08-15 15:43] sohilpandya commented on #84
first at 10.30 and then again at 12.30.

It showed me that I was connected to the internet but wasn’t able to Browse.

More explicitly I was in the middle of pushing my commits to github. And the second time I was accessing the staging database.

[2017-08-17 10:28] sohilpandya opened #105 "Coffee and toiletries"
Hey @markwilliamfirth,

Can we order the following things:
- coffee
- sugar
- air freshener
- sponge scourer

Thanks 😊

[2017-08-17 10:31] markwilliamfirth commented on #105
@sohilpandya any particular brand preferences?

[2017-08-17 10:46] sohilpandya commented on #105
So for the coffee, I like the look of this one https://www.amazon.co.uk/Nescaf%C3%A9-Azera-Americano-Instant-Coffee/dp/B0151IEUMY/ref=sr_1_1_a_it?ie=UTF8&qid=1502966463&sr=8-1&keywords=nescafe+azera

But for some reason the bulk buy costs more https://www.amazon.co.uk/Nescaf%C3%A9-Azera-Americano-100g-Pack/dp/B00AJQE1ZU/ref=sr_1_10_a_it?ie=UTF8&qid=1502966463&sr=8-10&keywords=nescafe+azera than if

[2017-08-17 10:47] sohilpandya commented on #105
No preference for the sugar, air freshener or sponge. Lol.

Although [febreeze](https://www.amazon.co.uk/Febreze-Spray-Cotton-Air-Freshener/dp/B015POHNUK/ref=sr_1_4_a_it?ie=UTF8&qid=1502966797&sr=8-4&keywords=febreze) seems to be the go to.

[2017-08-17 22:02] markwilliamfirth commented on #69
After 2 more appeals they relented

Has been updated from

Focus Hub - East London Co-working

to

Focus Hub

https://www.facebook.com/FocusHubLondon/

[2017-08-18 14:24] iteles commented on #69
@markwilliamfirth Is there an advantage to removing 'Co-working' from the title?

[2017-08-18 14:38] iteles commented on #98
I didn't get a text but checking now I can confirm this has been done.
<img width="180" alt="screen shot 2017-08-18 at 15 37 58" src="https://user-images.githubusercontent.com/4185328/29463616-3f32d2d2-842b-11e7-8254-f3686e8aeb18.png">

[2017-08-18 14:38] #98 closed

[2017-08-18 14:57] markwilliamfirth commented on #69
That field is meant to reflect the business name, there is a separate field for business category

<img width="508" alt="screen shot 2017-08-18 at 15 55 34" src="https://user-images.githubusercontent.com/5732209/29464402-b81ed4fa-842d-11e7-8127-c9878af54480.png">

If you want to change it then we might want to change it on all platforms to maintain consistent branding and advertising

[2017-08-18 14:59] iteles commented on #69
I was just curious 👍

[2017-08-20 08:53] iteles opened #106 "Energy provider: Octopus Energy"
Get a quote from Octopus Energy for their Super Green (100% renewable resources) tariff and compre to current rates we're getting: https://octopus.energy/tariffs/

(Not sure what our contract is but with checking out)

Hat tip @simonlab

[2017-08-21 09:08] SimonLab commented on #106
They might be a bit more expensive but maybe not for long as it seems the price of energy is going up with almost all distributors. They are also on on gihtub: https://github.com/octoenergy If I remember they doing mostly some Python but it might be good to have a look again at the repos and see if we could help maybe?

[2017-08-22 09:37] sohilpandya commented on #84
Again, 10.30 can't access the internet. Had to connect next door to post this here.

[2017-08-24 15:09] sohilpandya commented on #105
Hey @markwilliamfirth,

Any update on this?

[2017-08-29 11:39] sohilpandya opened #107 "New Temp. Hot Desker - Sam"
Hi @iteles @markwilliamfirth,

We've got a new hot desker in the space. He's a designer who's living in Mile end and will be here until Friday.

I've made him aware of the day rate of £19 and told him that we can invoice him on Friday.

Is that the correct procedure? @markwilliamfirth will you be in this week?

Edit: His name is Sam and he is sitting opposite to Sam (aka @shouston3) 😆

[2017-08-30 05:45] markwilliamfirth commented on #107
@sohilpandya (and @sofer ) thanks for taking care of this yesterday - can you email me Sam's email? I'm not in the UK, but will be back in London on the 6th Sep

[2017-08-30 08:01] sohilpandya commented on #107
Done.

[2017-08-30 08:04] iteles commented on #107
@sohilpandya Give him a warm welcome from us abstentees!

[2017-08-30 08:08] sohilpandya commented on #107
Will do!

He's been wanting to use the space from 9 so I've come in today to let him in and likely to do the same for till Friday.

[2017-08-30 08:14] iteles commented on #107
@sohilpandya I'm sure we can find someone who lives closer who can do so whilst Mark is away?

[2017-08-30 10:15] sohilpandya commented on #107
@iteles that would be good.

[2017-08-30 20:05] iteles commented on #107
Tomorrow might be difficult but I'll ask for Friday and next week 👍

[2017-08-31 08:53] markwilliamfirth commented on #107
@iteles just a note to say he's only here until Friday

[2017-09-04 09:04] sohilpandya commented on #105
This is now a Priority-1 as we need some loo rolls too.

[2017-09-04 09:05] sohilpandya opened #108 "Cleaner not been in for the last couple of weeks."
Could we please find out what is going on with the cleaner. 👍

Thanks.

[2017-09-04 09:14] markwilliamfirth commented on #108
@sofer I just tried to call Lily Ochiana and I couldn't get through - do you have an email for her? Has she not been cleaning at FAC either?

[2017-09-04 09:25] markwilliamfirth commented on #105
@iteles @nelsonic I just tried to order from Amazon and I can't - seems like the password for the newideaq@gmail.com amazon account has been changed - please can you send it to me

[2017-09-04 09:52] markwilliamfirth commented on #84
@sohilpandya was this still an issue last week? How is it today?

[2017-09-04 10:04] iteles commented on #105
@markwilliamfirth I have edited your comment above to remove the email address that we use for the organisation's amazon account 😳
Please just set up one with a dwyl email address and share with us. I'll be removing the linked cards to the one you mentioned.

[2017-09-04 10:10] markwilliamfirth commented on #105
@iteles is there a reason I can't order from the old one? I already had all the items saved in the basket, it already has my card attached to it and it already has prime

[2017-09-04 10:44] iteles commented on #105
No, we just really should have this on a dwyl email address so now's a good a  time as any!

I hit purchase on the basket just before I unattached the dwyl cards (yours included) from the account.

@sohilpandya This should arrive tomorrow, please borrow some toilet paper from next door in the meantime (there has been a lot of borrowing in the opposite direction :wink) and close this issue once the

[2017-09-04 10:54] markwilliamfirth commented on #105
Ok since there is no issue then can you send me the password? I will need to go in anyway to process the vat return

[2017-09-04 19:19] #107 closed

[2017-09-04 19:20] iteles commented on #107
No longer relevant. Thanks for dealing with this Sohil.

[2017-09-04 19:21] iteles commented on #105
I sent you this earlier today.
Related to https://github.com/dwyl/hq/issues/218

[2017-09-05 09:17] sohilpandya commented on #84
It was better. There was one point in the day where me and jack encountered intermittent internet. But apart from that all good yesterday.

The issue didn’t stick around for too long either. 🤔

[2017-09-05 15:03] iteles commented on #108
Apparently she has been in Romania at a funeral these last couple of weeks.

She should have had a replacement come in today (@sohilpandya Can you please confirm?) but last week I don't think anyone came, so the (over) payment will need to be dealt with.

[2017-09-05 15:43] sohilpandya commented on #105
@iteles Nothing in the office as of yet will do that until it arrives. 😉

[2017-09-06 18:45] sohilpandya commented on #105
Nothing in today either

[2017-09-06 18:46] sohilpandya commented on #108
No cleaner in today or yesterday

[2017-09-06 18:50] iteles commented on #105
WHAT?! I got a delivery email!!
Looking into this now.

[2017-09-06 18:51] iteles commented on #105
<img width="450" alt="screen shot 2017-09-06 at 19 49 51" src="https://user-images.githubusercontent.com/4185328/30129082-ad8a3174-933c-11e7-8c66-7addd004429b.png">

Looks like it might have been delivered next door or at number 2. Did we not get a parcel slip or anything?
Could you or someone please ask at 14 and number 2 (will be shut now, but open Wednesday _mornings_)

[2017-09-07 09:58] iteles commented on #105
Called them up. They're sending a replacement order to arrive tomorrow (Friday) :/

[2017-09-11 10:03] sohilpandya commented on #105
Hey @iteles, nothing yet.... Checked with the concierge as well.

What's going on here?

[2017-09-11 10:08] iteles commented on #105
*sigh*
<img width="947" alt="screen shot 2017-09-11 at 11 07 13" src="https://user-images.githubusercontent.com/4185328/30269654-7c8e5b06-96e1-11e7-8de9-45bb94e0aa93.png">

[2017-09-11 13:36] sohilpandya commented on #105
Got it all! Yay! 🎉❤️

[2017-09-11 13:40] iteles commented on #105
Flipping finally.

[2017-09-11 13:40] #105 closed

[2017-09-14 17:25] jackcarlisle commented on #104
Hey @markwilliamfirth so I've got the date for the workshop. It's on the 21st + 22nd October. Is there availability for then?

[2017-09-15 08:27] markwilliamfirth commented on #104
Yes that's fine - all day both days?

[2017-09-15 09:30] jackcarlisle commented on #104
@markwilliamfirth yes please!

[2017-09-18 14:50] markwilliamfirth opened #109 "Use of Communal Gardens and Mezzaine Walkway"
Got a letter from Sterling Estates Management telling all commercial units to cease using the Victoria Wharf Communal Gardens and Mezzaine Walkway. Also they've complained about their being chairs outside the back of the building and they need to be removed (are these ours or FAC's?)

@iteles do we have any agreement or mutual understanding with the residents that we're allowed to use this space (

[2017-09-18 14:52] iteles commented on #109
I was under the impression we didn't use these anyway? At most we take a phone call on the walkway if needed.

@sofer will know the details of what has been agreed here.

[2017-09-18 14:56] markwilliamfirth commented on #109
I have no idea how much they're used, but it's something we include on our 'tour'

[2017-09-19 12:44] markwilliamfirth commented on #38
We've had several people turn us down or be disappointed when I've informed them that we don't have any meeting rooms. Recently a startup of 4 people turned us down because we don't have a meeting room. It would also benefit current tenants. I think we should install one upstairs at the back of the room or convert the shower room into a meeting room

[2017-09-19 14:24] markwilliamfirth commented on #104
@jackcarlisle all good 👍

[2017-09-20 11:51] markwilliamfirth commented on #84
To update this issue:

It seems that this is an intermittent issue - I'll make a complaint the next time it occurs with a timestamp of when it happened

[2017-09-20 11:58] markwilliamfirth commented on #99
@iteles didn't we used to have a little wicca basket? I guess we can continue using this, but place it next to the bin instead?

[2017-09-20 12:30] markwilliamfirth commented on #108
When I was in on Monday it seemed pretty clean

@iteles do you have the contact for the replacement or is lily still the main contact? Depending on the answer I will contact them about overpayment

[2017-09-20 12:32] iteles commented on #108
Lily is back now @markwilliamfirth, she's still the main contact. She also organised the replacement but didn't seem to know the replacement had missed any of the times.

[2017-09-20 13:25] markwilliamfirth commented on #100
@Jbarget is it still working? Would you recommend? If so I think we'll buy it

[2017-09-20 13:35] markwilliamfirth commented on #96
@finnhodgkin @ZooeyMiller take a quick look at this one if you still have time after dwyl SEO and let us know if there are any quick changes we can make

might be a completely different ballgame though as this site is on squarespace

https://focushub.squarespace.com/config/

Gitter me for login details to the online config

[2017-09-20 14:06] Jbarget commented on #100
@markwilliamfirth yes it is and I would recommend.

I would say its good to buy some extra worms as well since 250g wasnt enough for the amount of food waste I was producing (it can also handle paper/cardboard)

I ended up buying an extra 500g of tiger worms

[2017-09-20 14:34] markwilliamfirth commented on #101
**36 desks total**
12 reserved for dwyl (not always used)
1 x Roaming - Pawel (contract ends September 30)
1 x Roaming - Rujuta
3 x Fixed - Hands on London
1 x Fixed - Volodia (freezing contract Oct 1 - Nov 30, returns Dec 1)
1 x Roaming - Christopher
1 x Roaming - Sam
1 x Roaming 4 days a month - Beth
TOTAL = 21
Occupancy rate = 58%

**Feedback**
- No meeting room isn't great
- at least 6 tenants

[2017-09-20 15:37] markwilliamfirth commented on #37
@iteles there is a lot of "stuff" in the shower room, is all of it dwyl stuff or is some of it owned by you and Nelson?

[2017-09-20 18:16] iteles commented on #37
I'm not sure, we'll take a look when we're back in London.

[2017-09-20 18:21] iteles commented on #99
I don't think this requires my involvement, please feel free to use whichever vessel is available as a starting point 👍

[2017-09-20 21:39] finnhodgkin commented on #96
There are quite a few things to change:

- **Add location** high on the page _in writing_. The only section with Bethnal Green or Mile End is the "things near by" image, which search engines will completely ignore. There's an address, but my guess is that the majority of people will search for less specific locations than `16 palmers road, London, E2 OSY`.
- **Add alt text** to all images. No imag

[2017-09-26 11:14] ZooeyMiller commented on #109
I know that the current cohort of F&C have been using the gardens/walkways a lot. Is there any communication we can/should give to them about their usage of this space?

[2017-09-26 11:20] iteles commented on #109
@ZooeyMiller Yes. They _shouldn't_ be using them as far as I know.
@sofer will know best!

[2017-09-26 14:30] sofer commented on #109
"a lot" is probably an overstatement, especially now the weather has changed. I don't think this will be a significant issue again until the Spring, however we do need to remove the furniture. Last time we got a letter about this, we took it to mean, "stop taking over the roof garden". It sounds like this is stronger. A note on the back of the door at no 14 is probably needed.

[2017-09-26 18:28] markwilliamfirth commented on #18
space4, 149 Fonthill Rd, London N4 3HF, UK
http://space4.tech/

[2017-10-02 13:40] markwilliamfirth commented on #81
Added sam, suspended volodia until dec

[2017-10-03 14:00] markwilliamfirth commented on #85
<img width="655" alt="screen shot 2017-10-03 at 15 00 28" src="https://user-images.githubusercontent.com/5732209/31129146-a2041a4e-a84b-11e7-9179-a744528c6afc.png">

[2017-10-04 13:06] Jbarget commented on #106
there's also https://bulb.co.uk

[2017-10-04 13:09] Jbarget opened #110 "Roof Garden on website"
Linked to: https://github.com/dwyl/focushub/issues/109

Considering we're not allowed to use the space it could be quite misleading to show someone working on a bench there

![screen shot 2017-10-04 at 14 08 20](https://user-images.githubusercontent.com/11725595/31177305-833fd9fa-a90d-11e7-81a7-ebc8f2f4c789.png)

[2017-10-04 13:09] Jbarget commented on #110
just noticed it says:

`Roof garden terrace for lunch or meetings` under the Facilities heading

[2017-10-04 13:12] Jbarget opened #111 "Minor space missing in footer"
After the heart it looks like there is a missing space

![screen shot 2017-10-04 at 14 10 32](https://user-images.githubusercontent.com/11725595/31177443-f8eb0210-a90d-11e7-8242-da998d84d8bf.png)

[2017-10-04 13:12] markwilliamfirth commented on #110
@Jbarget yep this needs to be changed

[2017-10-04 16:27] markwilliamfirth commented on #111
<img width="82" alt="screen shot 2017-10-04 at 17 26 57" src="https://user-images.githubusercontent.com/5732209/31187249-3e8be918-a929-11e7-8033-79bf74340448.png">

guessing you fixed this jb? thanks!

[2017-10-04 16:27] #111 closed

[2017-10-04 16:30] markwilliamfirth commented on #110
Replaced with this image as temp solution (this is actually number 14)

![founder1](https://user-images.githubusercontent.com/5732209/31187389-acd342fe-a929-11e7-972a-f9f5a6d2b46b.jpg)

[2017-10-04 16:30] #110 closed

[2017-10-04 16:32] markwilliamfirth commented on #58
This was done

[2017-10-04 16:32] #58 closed

[2017-10-04 16:33] markwilliamfirth commented on #68
Everything is up to date

[2017-10-04 16:33] #68 closed

[2017-10-04 16:34] markwilliamfirth commented on #6
<img width="942" alt="screen shot 2017-10-04 at 17 33 44" src="https://user-images.githubusercontent.com/5732209/31187567-366d0176-a92a-11e7-8924-b5cb035e7a5b.png">

[2017-10-04 16:34] #6 closed

[2017-10-04 16:35] #42 closed

[2017-10-04 16:35] markwilliamfirth commented on #43
all done

[2017-10-04 16:35] #43 closed

[2017-10-04 16:37] markwilliamfirth commented on #53
Completed

[2017-10-04 16:37] #53 closed

[2017-10-04 16:43] markwilliamfirth commented on #4
@nelsonic did this arrive?

[2017-10-04 16:43] markwilliamfirth commented on #5
Linked to #57

[2017-10-04 16:44] markwilliamfirth commented on #8
Linked to #37

[2017-10-04 16:44] markwilliamfirth commented on #9
This was purchased, so closing

[2017-10-04 16:44] #9 closed

[2017-10-04 16:46] markwilliamfirth commented on #13
Lily, our cleaner, cleans once a week on a Monday

[2017-10-04 16:46] #13 closed

[2017-10-04 16:47] markwilliamfirth commented on #16
Linked to #4 #62 #10

[2017-10-04 16:49] markwilliamfirth commented on #25
I think we should hire 20h per week community manager to bring in new tenants, maintain the space, run events and manage everything - they can use the other 20h to work from the space and do whatever they like

[2017-10-04 16:51] markwilliamfirth commented on #32
@sohilpandya yes these are welcome

[2017-10-04 16:51] #36 closed

[2017-10-04 16:52] markwilliamfirth commented on #40
Mark to add to #57

[2017-10-04 16:53] markwilliamfirth commented on #41
This arrived

[2017-10-04 16:53] #41 closed

[2017-10-04 16:54] markwilliamfirth commented on #47
Linked to #18

[2017-10-04 16:54] markwilliamfirth commented on #48
Linked to #91 #30

[2017-10-04 16:56] markwilliamfirth commented on #63
We don't really use the phone - maybe we should just stop advertising the phone number?

[2017-10-04 16:58] markwilliamfirth commented on #77
Closing as this has been communicated to everyone and #93 needs to be resolved first

[2017-10-04 16:58] #77 closed

[2017-10-04 17:00] markwilliamfirth commented on #88
Current policy is:

If it's only a few pages, fine do it for free
If it's anything more than a few pages - 10p per colour sheet, 5p per black and white sheet

[2017-10-04 17:01] markwilliamfirth commented on #91
Linked to #30

[2017-10-04 17:02] markwilliamfirth commented on #94
Linked to #30 #91

[2017-10-04 17:03] markwilliamfirth commented on #96
Thought - perhaps this should wait until the gh pages site replaces to squarespace site

[2017-10-04 17:03] markwilliamfirth commented on #97
Linked to #91 #30

[2017-10-04 17:04] #104 closed

[2017-10-04 17:07] #32 closed

[2017-10-04 17:11] markwilliamfirth commented on #61
#37 first

[2017-10-04 17:11] markwilliamfirth commented on #52
Links to #46

[2017-10-04 17:19] iteles commented on #52
@markwilliamfirth would be good to get at least some footage before the sun goes into permanent hiding for 4 months 😬

[2017-10-04 17:28] markwilliamfirth commented on #27
@mk4111 I hope you're well and enjoying airsorted! Wanted to ask if there was an update for where this issue ended up? Did anyone reply to you?

[2017-10-04 17:30] markwilliamfirth commented on #93
Links to #91 #30

[2017-10-04 17:54] markwilliamfirth commented on #52
@iteles we need to do this when no one is in the space (otherwise we will need signed releases from tenants) and also after it's been cleaned up and looking nice #37

[2017-10-04 17:55] ghost opened #112 "Photographs of the Space"
For website etc

Linked to #46 #52

[2017-10-04 17:56] markwilliamfirth commented on #52
https://github.com/dwyl/focushub/issues/112 is higher priority and can be done sooner as we can avoid clutter and people's faces easier when aiming a shot than on a video tour

[2017-10-04 18:46] markwilliamfirth commented on #106
Note - we're currently using opus energy

[2017-10-04 21:27] Jbarget commented on #111
oh nope, didnt do anything

[2017-10-04 22:26] markwilliamfirth commented on #111
That's weird! Seems to have fixed itself? haha

[2017-10-04 22:33] iteles commented on #52
Having a buzzing community in our video might well be worth getting the signed releases!

[2017-10-05 09:37] Jbarget commented on #111
i imagine there was always a space but just doesnt look like it

[2017-10-05 17:42] iteles commented on #25
Seeing as we are not even breaking even at the moment, a clear job description will need to be written for this with realistic but firm goals where this role would pay for itself within 3 months.

[2017-10-05 17:49] iteles commented on #96
@markwilliamfirth What are the plans and timelines for a gh pages site?
I remember us discussing this as a 'when we need to make a change' possibility but nothing concrete.

[2017-10-05 17:54] iteles commented on #100
Let's figure out where we'll put this first please - even a general earth smell can be a little offputting indoors in the winter when it gets stuffy!
We might want to get to grips with #99 first and then trial this when we can have open doors just in case (i.e. Spring rather than Winter).

I'm kind of loving all this chat about worms.

[2017-10-10 10:40] markwilliamfirth commented on #60
Payment for October required

[2017-10-10 11:32] markwilliamfirth commented on #60
Completed

[2017-10-11 11:48] markwilliamfirth commented on #96
@iteles I think I could throw up a gh site relatively quickly and this would mean we could stop paying for squarespace, so might be good to do this one soon

[2017-10-14 16:24] iteles opened #113 "When does our current lease run out ?"
@markwilliamfirth Could you please confirm when the current lease runs out?
I believe it's sometime in the Sprint of 2018.

Linked to https://github.com/foundersandcoders/london-programme/issues/461 and relevant for @yvonne-liu and @sofer

[2017-10-16 14:10] iteles opened #114 "Light bulbs blown in FocusHub"
It's super dark at the front of FH at the moment with 2 blown light bulbs.

Do we have any spares and where are they kept?

![img_5934](https://user-images.githubusercontent.com/4185328/31616315-4bf6ab60-b284-11e7-8610-1425c9154091.JPG)

[2017-10-18 10:19] markwilliamfirth commented on #113
@iteles @yvonne-liu @sofer

1 May 2018 - please see https://github.com/dwyl/focushub/issues/20#issuecomment-280398136 for more info

[2017-10-18 10:19] #113 closed

[2017-10-18 10:20] markwilliamfirth commented on #114
I'm not sure - @sohilpandya was last to change lighting #11

Sohil do you know?

[2017-10-18 10:22] sohilpandya commented on #114
No spares 😢 I think the fittings for the front one is different to the ones at the back of the room. I’ll check it out later today.

[2017-10-18 10:24] markwilliamfirth commented on #114
@iteles if we don't have spares they can be ordered on amazon, but that's currently blocked by https://github.com/dwyl/hq/issues/264

[2017-10-18 11:13] sohilpandya commented on #114
I've moved some from the back to the front, we may as well order some more, upstairs is a bit dark.

[2017-10-18 11:20] markwilliamfirth commented on #114
@sohilpandya do you know what type/size and/or make they are?

[2017-10-18 11:27] sohilpandya commented on #114
MSL 0116 Dimmable GU10 9W W 230V

[2017-10-18 11:31] markwilliamfirth commented on #114
Thanks @sohilpandya !

slightly odd that we have dimmable bulbs for non dimmable switches - perhaps we should get different ones

[2017-10-18 12:04] sohilpandya commented on #114
Yeah, don't need dimmable ones. 👍

[2017-10-18 16:51] iteles commented on #96
One day of your time will pay for well over a year of squarespace so I don't think money is the driver here 😉

[2017-10-18 16:58] markwilliamfirth commented on #96
@iteles I mean I could throw one up in a few hours, if you want to timebox it then we can do that

[2017-10-25 11:00] markwilliamfirth commented on #38
**Possible suppliers:**
shelley@axisglass.co.uk | 01293 366 886
tim.horrocks@glassofficepeople.co.uk | (07841) 526424 | (01753) 330580
lewis@workjunction.co.uk | 07947 822604 | 0114 38 30 999 or 0208 123 46 28 (option 1)

**Needed for quote:**

- The fire rating (if required)
- The installation address
- The company name
- Contact telephone number
- Ceiling height
- Wall length / how wide the area

[2017-11-01 11:44] markwilliamfirth commented on #81
Chris removed, beth invoiced for second time

[2017-11-01 11:44] #81 closed

[2017-11-01 12:17] iteles commented on #81
@markwilliamfirth A note that Rujuta is back today 👍

[2017-11-01 12:19] markwilliamfirth commented on #81
@iteles yes - saw her last week, she came back on Thursday due to an extension of her trip in India

[2017-11-01 12:21] markwilliamfirth commented on #99
To close this off - this is the little wicca basket that has now been placed next to the bin to remove confusion

[2017-11-01 12:40] iteles commented on #99
I'm in the office and it's not there. Might be worth a sign so that it doesn't get moved?

[2017-11-02 19:12] iteles commented on #101
I checked the answering machine at FH on Monday, there were 6 messages. Of those, there were two new leads but I have no idea how old they are as I don't know how often the answering machine was checked whilst I was out of the country. I've added to the only leads spreadsheet I know of as mentioned above by @markwilliamfirth. Is there a different location where the information is kept now that I s

[2017-11-02 19:21] markwilliamfirth commented on #101
@iteles those two phone messages - one is laura - I called her back and she never answered. Another is sam (Sam is a tenant)

Spreadsheet of tenants needs updating - let me know if you need this done by a deadline

[2017-11-06 13:41] markwilliamfirth commented on #60
@iteles wondering if this went through this month or if it bounced again?

[2017-11-06 13:44] markwilliamfirth opened #116 "Reimburse Higglers Deposit"
@iteles please could you repay Higglers Limited their deposit (285) from the Focus Hub Santander Account? Their bank details are on focushub.freeagent.com

[2017-11-06 14:59] iteles commented on #60
Went through, I checked there was enough money before the beginning of the month.

[2017-11-06 14:59] #60 closed

[2017-11-06 15:10] iteles commented on #116
@markwilliamfirth I can't find the bank details in their contact profile (viewable or in edit mode) or in past invoices/credit notes.
A google search around where I could find this has yielded no useful results.

Where can I find this?

[2017-11-06 15:26] markwilliamfirth commented on #116
@iteles sorry is now under notes https://focushub.freeagent.com/contacts/5878552/notes

[2017-11-06 15:43] iteles commented on #116
<img width="186" alt="screen shot 2017-11-06 at 15 42 57" src="https://user-images.githubusercontent.com/4185328/32449360-422ca932-c309-11e7-8da6-fe975902b4b7.png">

[2017-11-06 15:43] #116 closed

[2017-11-13 09:17] sohilpandya opened #117 "Where is the kettle?"
Our kettle has gone missing. can't find it next door either....

[2017-11-13 10:21] sohilpandya commented on #117
It's back. Nelson delivered it back.

[2017-11-13 10:21] #117 closed

[2017-11-20 15:09] sohilpandya commented on #114
Like to propose these to test out
- https://www.amazon.co.uk/dp/B01M198QES/ref=sspa_dk_detail_0?psc=1
- https://www.amazon.co.uk/dp/B01M1KYBXP/ref=sspa_dk_detail_0?th=1 (need this for power)

They are approx 25lm per led so the 300 led over 5m will produce 7500lm of light. Worth trialling out and if they work we can order more.

[2017-11-20 15:12] iteles commented on #114
Purchased as a trial. It's downright depressing in here.

[2017-11-21 16:55] sohilpandya commented on #114
Before
![c0585885-edea-4653-abba-bbf0f838b9ae](https://user-images.githubusercontent.com/2305591/33085475-a4597eee-cedc-11e7-97f1-43c961fb0a92.jpeg)
After
![7bb18b38-bb25-44ac-ae2b-5750d5b9b0bf](https://user-images.githubusercontent.com/2305591/33085492-ae0040a4-cedc-11e7-9056-30f306dbc960.jpeg)

[2017-11-21 17:00] iteles commented on #114
Hooray! Makes more difference than you can tell from the photos.

Ordered some warm white ones so we can trial and settle on a colour, these are quite a cold light! https://www.amazon.co.uk/LEDMO-Transformer-600LEDs-cabinets-cupboard/dp/B01M9A5F7W/

[2017-11-22 12:59] sohilpandya commented on #114
@iteles

The light that we put up had come off need to stick it up again. Might need a few plugs to keep it in place.

The yellow one has arrived. But it's like really yellow. Too yellow. Not good

[2017-11-29 12:56] iteles commented on #84
Haven't had any issues for the last two months but it has been quite quiet at the office (maybe 6 of us tops when Hands On is around).

[2017-11-29 12:57] iteles opened #118 "Massive leak in the corridor behind FH"
Photos to follow.

I've called Sterling Estates and they will be sending someone round to look at it in the next 24 hours or so.

[2017-12-01 11:20] nelsonic opened #119 "Desk/Work Light"
@iteles in the _interim_, (_until a decision is made on the lighting_) #11
can we please order one of these desk lights: https://www.amazon.co.uk/dp/B01EFUNISQ
![image](https://user-images.githubusercontent.com/194400/33480484-aa4b8abe-d688-11e7-9c9b-63abf1e5a5b0.png)
![image](https://user-images.githubusercontent.com/194400/33480723-9d16ee78-d689-11e7-9240-4fa588783469.png)

Advantages:
+ Has bot

[2017-12-01 11:29] iteles commented on #119
Bought, should arrive Monday.

[2017-12-04 07:16] nelsonic commented on #11
@sohilpandya hope you don't mind me editing your original issue description (_first comment_) to contain a "Todo List" so we can start to make some _progress_ on this issue.
@iteles the "_Next Action_" for "_fixing_" the lighting situation in `#16` is to contact Sam/Thirsy
and ask them if we can _extend_ the light fixings.
Please _email_ them and inform them that we will pay a qualified/certified

[2017-12-04 07:21] nelsonic commented on #11
Increased priority back up to `P1` because having inadequate lighting in the office is _costing_ us money. Prospective new members of the Co-Working Space see broken Lightbulbs and they are putt off joining.
What we want/need is a _bright_ space people _want_ to work in.

[2017-12-04 13:11] sohilpandya commented on #11
Totally agree with @nelsonic.

I don't think we should get the same ones we ordered last time as they broke way too soon.

Can we all look at some alternatives and post them on this issue? We should also keep 3 lights per fixture so that we don't clutter it.

[2017-12-04 13:18] nelsonic commented on #11
@sohilpandya depending if the Landlord agrees, my idea would be to replace the fixtures with distinct lighting "zones" above the tables downstairs rather than the strips currently installed.
The type you shared above: http://www.lighting.philips.co.uk/prof/indoor-luminaires/surface-mounted/trueline-surface-mounted or ones that are _dimmable_ and with _hue_ changing would be my _personal_ preferenc

[2017-12-04 18:21] iteles commented on #11
This is all lovely, but I'm waiting for a response on my first question (I've updated the checklist above) on how much our rent is going up in May as well! I've emailed to ask about both though, excited to get this moving.

[2017-12-05 13:30] iteles commented on #118
This was sorted.
Called the Estate Management people last week, a plumber came out at the end of the day yesterday and identified a tiny leak that had been going on for a while.
In trying to fix it, he broke the pipes further, flooding the bathroom with water.

I called an emergency plumber and we got it all fixed last night. Next step, repaint the wall.

[2017-12-05 13:30] #118 closed

[2017-12-08 13:25] nelsonic opened #120 "What 3 Words? (How to Find Us)"
What 3 Words is a global positioning system using a unique combination of 3 english words.

Anyone _unfamiliar_ with this idea, read:
+ https://en.wikipedia.org/wiki/What3words
+ http://www.bbc.co.uk/news/technology-40935774
and/or watch:
+ https://www.youtube.com/watch?v=a4ZBzM3L6ws
(_read the comments for lols!_)

Because the system is accurate to 3m<sup>2</sup> there are quite a _few_ combinati

[2017-12-08 16:28] sohilpandya commented on #11
Hey @iteles are you in later today or first thing monday, I'm in 16 and it's **really really dark**, I think we need to put that light up in the room just to brighten it up.

[2017-12-08 16:54] nelsonic commented on #11
![47b1f32f-9bc5-49f5-a3bd-552e741ba162](https://user-images.githubusercontent.com/194400/33776162-703d563a-dc38-11e7-8c1f-a0c7ecd6c998.jpeg)
![bad0ecb0-ecfd-4e1b-98bf-60f211dde68b](https://user-images.githubusercontent.com/194400/33776163-705958d0-dc38-11e7-945e-eedf0fac88ca.jpeg)

“dark times” ...

[2017-12-09 21:47] iteles commented on #11
Yea, 3 more bulbs went on Thursday 🙄

[2017-12-10 13:48] sohilpandya commented on #11
Let's try out the strip on Monday. @nelsonic I don't think we should get that.

Can we please order one GU10 LED lights from below.
https://www.amazon.co.uk/Beautiful-Replacement-Halogen-Technology-Warranty/dp/B019SR25S0/ref=sr_1_5?ie=UTF8&qid=1512913534&sr=8-5&keywords=GU10+LED
https://www.amazon.co.uk/Philips-Classic-Glass-Replacement-Halogen/dp/B01KHILJ5O/ref=sr_1_4?ie=UTF8&qid=1512913534&sr=8-

[2017-12-13 17:53] rub1e commented on #120
Remember reading about this when it launched - genius idea!

How about *learn.do.teach*?

Even if it's not gonna catch on, you still wanna book your ideal name just in case

[2017-12-13 18:26] rub1e commented on #74
@iteles to print before she leaves for home sweet home

Last slide in the deck

https://docs.google.com/presentation/d/1rCG7dbQfJVo8haUryup7cf2tbDpjAre7_e-f5aMmFh0/edit#slide=id.g2a478adfbb_0_0

[2017-12-13 18:41] SimonLab commented on #120
cares.actor.times
![image](https://user-images.githubusercontent.com/6057298/33955717-6b88ee24-e034-11e7-83ba-2583ad6a861b.png)

@rub1e I think the combination of words are already in defined for 16, so I don't think you can choose your own words.

In London the postcodes are already quite precise but the system is a good alternative when you have to remember and find a location quickly

[2017-12-14 08:23] rub1e commented on #120
@SimonLab It's possible I may have missed the point :disappointed: :laughing:

[2017-12-16 00:20] nelsonic opened #121 "Open offices are overrated"
https://youtu.be/-p6WWRarjNs

[2017-12-18 15:10] sohilpandya commented on #114
Looking better at the moment
![5ce75b81-09b2-43d8-a88d-767384e9fd31](https://user-images.githubusercontent.com/2305591/34112771-8532fe30-e405-11e7-9292-eaaf03ed3a10.jpeg)

[2018-01-09 12:56] iteles opened #122 "Contract for new tenant"
New contract for Ceri! 🎉

@rub1e Have also set you up on Freeagent so you can set up the invoicing for her. Thanks!

## Tasks
+ [x] Set up new contract
+ [x] Get contract signed
+ [x] Give Ceri keys
+ [x] Set her up on freeagent
+ [x] Create recurring invoices
+ [x] Send one-off invoice for deposit

[2018-01-09 13:28] iteles opened #123 "Onboarding new member documentation"
As an office manager
I would like to have a process for when we have a new member we need to onboard
So that it is consistent and we don't miss any steps.

Reference: https://github.com/dwyl/process-handbook/issues/35#issuecomment-318723302

[2018-01-09 17:14] rub1e opened #124 "Automated emails for invoicing"
* [x] Figure out where automated emails are being sent from (FreeAgent?)
* [x] Figure out how to stop/start/pause/etc them in case of FH Members taking breaks etc.
* [x] Make sure they're coming from the right email address
* [x] Set up thank you emails
* [x] document process as MD file

[2018-01-09 17:20] rub1e opened #125 "Transfer ownership of FreeAgent account"
* [x] Find out how to transfer ownership of FreeAgent account
* [x] Transfer ownership of FreeAgent account

[2018-01-10 12:31] rub1e commented on #123
**[WIP]**

**Before member's first day**
* Send note confirming...
  * rates
  * (refundable) deposit amount
  * house rules
* Request member brings in photo ID for our records on first day
* Request details for our records
  * Their name
  * Billing contact name
  * Company name, address, region (e.g. England and Wales), and reg number
  * Their contact email (presumably we already have this) and

[2018-01-10 13:17] rub1e commented on #125
For future reference, we either have to email from the Account Owner's address confirming the change, or show them evidence from Companies House that the person no longer is at dwyl.

[2018-01-10 13:17] #125 closed

[2018-01-10 13:28] rub1e commented on #124
Automated invoice emails are being sent by FreeAgent, and come from `hello@focushub.co.uk

In order to pause a recurring payment, set the recurring invoice to `draft`, then activate it again when you want invoicing to start again.

[2018-01-10 14:35] iteles commented on #123
@rub1e Thanks! Let's get this in a PR as an `md` to review line by line.

[2018-01-10 15:13] iteles commented on #124
Assigning back to you for the thank you notes!

[2018-01-10 15:57] rub1e commented on #57
I'll draft a new set of house rules that reflect both the values and the requirements of the space

[2018-01-10 16:31] rub1e opened #127 "Focus Hub aesthetics update"
#SpruceTheSpace

The place looks ace, but with tiny bit of work here and there, it could feel even acer

**Plants**: I love the Peace Lily and Spider Plant vibe - they're both low-maintenance, almost literally unkillable (believe me, I've tried), and they filter the air. The Lilies even flower! Perhaps we could extend this to every table? Depending on how my growing season goes, I may donate a Med

[2018-01-10 16:34] rub1e commented on #112
Let's rekindle this!

Once #127 is underway we can enlist the help of budding photographers 😄

[2018-01-11 18:05] iteles commented on #57
@rub1e _Thank_ you.

[2018-01-11 20:19] iteles commented on #127
Linked to #11

[2018-01-11 20:24] iteles commented on #11
Just had an update from the landlord saying they won't pay for it, but are happy for us to do whatever we want with the lighting.

Time to find something like this? https://github.com/dwyl/focus-hub/issues/11#issuecomment-348959532

@sohilpandya Do you think those GU10 LED lights will work better than the ones we had before?

[2018-01-12 22:01] iteles commented on #11
<img width="431" alt="screen shot 2018-01-12 at 22 00 43" src="https://user-images.githubusercontent.com/4185328/34897045-172e7cf0-f7e4-11e7-92ea-2672ff7dde39.png">

Thanks @rub1e !

[2018-01-16 14:51] #122 closed

[2018-01-16 16:22] rub1e commented on #74
Migrated to google doc to maintain dimensions

https://drive.google.com/open?id=1FnUFEHbYaGJ2vNdMcaZ3FNnX64BisqIk-rB9hpySMk4

[2018-01-16 17:10] rub1e commented on #124
This is all done so, for posterity, the process for setting up an automatic recurring invoice...

* First set up the member as a `contact` (if they're not already)
* In the horizontal menu, go to Work > Invoicing and on the next screen go to **Recurring Invoices**
* Click **Add Recurring Profile**
* Select the contact, leave the project blank
* (Ignore `Starting Reference`, this will be set automa

[2018-01-16 17:11] rub1e commented on #124
@iteles do you want the above in a _Process Handbook_ `md` file?

[2018-01-16 17:34] rub1e opened #128 "Create email template for sending info to new members"
[x] Create template with welcoming and useful information
[ ] Update the onboarding process with a link to it after review

[2018-01-17 10:48] rub1e opened #129 "Add travel options / directions to website"
* [ ] Add travel options / directions to website - take from #128

[2018-01-17 11:06] iteles commented on #129
Harry & Noga put the website together if you need any support. Will get you the squarespace login later today 👍🏻

[2018-01-17 11:25] rub1e commented on #128
Info added to [this google doc](https://docs.google.com/document/d/1xpuheam20Uqd_hQqDcWbpy5pmkhc-JqLpB0QgmfUCL4/edit#), can be copied and pasted into emails to new joiners.

(The house rules at the end will be updated per #57)

@iteles please review as part of #126 when you have a moment 😺

[2018-01-17 12:39] rub1e commented on #123
We can close this once #126 is merged

[2018-01-17 15:12] rub1e commented on #114
Replacements for the blown downlights have been ordered

[2018-01-17 15:19] rub1e commented on #46
* [x] https://www.spacing.com/location/6465_1
* [x] https://www.coworker.com/united-kingdom/london/focus-hub
* [x] https://www.sharemyoffice.com/component/rsdirectory/entry/view/2668-friendly-productive-space-in-the-east-end
* [x] https://desksnear.me/locations/focus-hub/focus-hub
* [x] https://www.desktimeapp.com/focus-hub
* [ ] https://www.coworkinglondon.com/ - under review; crashes when you tr

[2018-01-19 13:27] iteles commented on #128
@rub1e Email looks good, I agree it would be much better to remove the transport info from the body of the email and link to the website instead #129 so that the email can focus on the core stuff. Also, it reminds me of how terrible the House Rules are - so unfriendly #57 😭

Back to you for the addition of the link 👍

[2018-01-23 09:21] rub1e commented on #128
I'll tackle #129 and then #57 and come back to this then

[2018-01-23 11:55] iteles commented on #123
Resolved by #126

[2018-01-23 11:55] #123 closed

[2018-01-23 15:57] rub1e commented on #124
@iteles is this worth popping into an `md` file? (It can sit in the FH repo until we make a decision about process folders)

[2018-01-23 16:28] iteles commented on #124
@rub1e Definitely worth putting in an `md` file.
As FH is essentially a business that needs to live on its own, I think it might be neater if we keep FH processes here (I think of these things in terms of needing to move the repo to another org for example) but have a link to it from our dwyl process-handbook. What do you reckon?

[2018-01-23 17:52] rub1e commented on #124
Spot on - will do

[2018-01-24 09:23] #124 closed

[2018-01-31 11:37] rub1e commented on #38
Before I start getting people in for quotes for both a meeting room and a phone booth, a couple of questions:

* What do we have permission from the landlord to do?
* What's preferable - turning the shower room into a phone booth, or reclaiming it as a shower room?
* Could the meeting room serve as a phone room when not in use - to save on having to install a separate phone booth?

[2018-02-06 20:03] iteles commented on #38
@rub1e In order:

+ We don't know yet, we should determine the possibilities and email them
+ No idea
+ Definitely!

[2018-02-07 09:37] iteles opened #131 "Sorting out the mail"
We have a few people getting mail at Focus Hub, most notably our main tenants, Hands On London, our landlord and a company that pays for a desk so that they have a mailing address.

We should get some in-trays or find a better way to sort this.
Either we use the existing filing trays or get something like: https://www.amazon.co.uk/Herlitz-Letter-Tray-Space-Translucent/dp/B0072H9HS0/ref=sr_1_10?ie=

[2018-02-07 16:04] rub1e opened #132 "Update outdated & incorrect insurance info & legals"
~* [ ] Change name from Quietspace to FocusHub with insurer's~
~* [ ] Get all documents signed as applicable~

* [x] Cancel focus hub insurance for #135

_Somehow_ we've had our insurance operating **under the wrong name** for _several months_! Names must be changed, documents must be re-signed...

[2018-02-08 08:47] rub1e commented on #131
We've made do with existing materials - two black mesh cages have been repurposed into dedicated mailboxes for our tenants.

 There are mailboxes for
* dwyl / Focus Hub (us)
* Hands On London
* Label Print Services
* Founder London / Thirzie / former tenants etc.

Please put anything else on top for people to check themselves

NB: the `etc.` covers a longish list of people from the Founder London

[2018-02-08 09:13] rub1e commented on #114
UPDATE 8/2 - it seems the replacements got lost in the mail so they've sent another set by courier

[2018-02-08 10:14] iteles commented on #131
Hooray! Thanks for doing this!

[2018-02-08 10:14] #131 closed

[2018-02-08 10:29] iteles opened #133 "FY16/17 accounts"
The deadline for our end of year accounts is 17th February 2018.

We'll need to get these in by then but won't be paying any corporation tax as we made a loss this year.

The trickiest thing with this will be how to categorise any loans from DWYL.

[2018-02-08 18:27] rub1e opened #134 "Meeting with bookkeeper for FH & dwyl, 21/2"
Meeting with Karen to discuss various issues which need to be resolved in order for us to file Focus Hub accounts, along with some dwyl questions:

* dwyl loans FocusHub money - how do we reconcile these loans?
* How do we reconcile utilities payments?
* FocusHub takes a refundable deposit from our members - how do we deal with these deposits (so we're not taxed on them)?
* Clients pay dwyl invoic

[2018-02-13 11:09] rub1e commented on #134
~Booked for 4.30 13/2~

Rescheduled for 2pm 21/2 @ FocusHub

[2018-02-13 11:32] rub1e commented on #37
Update: Ines had a go at the fridge and various surface level declutterisation. (I helped)

I suspect this might be something of a radiant quest, to borrow some gaming parlance

[2018-02-14 13:08] rub1e commented on #133
I've done a first pass at filing with Companies House, and there's a £400-odd discrepancy that I'll have to track down in our banking history.

@iteles to send exports of banking history to me for FY16/17

[2018-02-14 13:10] iteles commented on #133
Done!

[2018-02-14 16:11] rub1e commented on #133
For those keeping score at home, the discrepancy was actually closer to £900, and was merely due to FreeAgent displaying things unhelpfully - it was there all along!

Consequently, FY16/17 accounts have been filed, and the reconciliation / filing process will be written up in due course

[2018-02-14 17:39] iteles commented on #133
Under 'Trade debtors'.

Hooray! Thanks for filing these.

Shall we open a new issue for the process?

[2018-02-15 09:59] rub1e commented on #133
Yeah, that was the category, but the problem was that this appeared in the Balance Sheet "view" but not the P&L "view" - which is what the companies house filing service was asking for. Suspect it's just that FreeAgent refers to things differently, but we'll cover this with our bookkeeper next week.

Of course! Issue or `md` file in the `process-handbook` repo?

[2018-02-16 15:34] iteles commented on #133
`md` in _this_ repo ;)

[2018-02-22 15:14] iteles commented on #134
@rub1e Thanks for scheduling and the great questions. We got loads done!

I'll leave it to you to open the relevant issues on documentation and close this one when you're ready.

[2018-03-07 15:28] rub1e commented on #114
![image](https://user-images.githubusercontent.com/11595920/37100888-11f36644-221c-11e8-8035-67d72c90bed3.png)

The replacements arrived. They're literally brilliant.

[2018-03-07 15:28] #114 closed

[2018-03-13 09:37] rub1e commented on #133
Quick update: accounts were filed with Companies House (as above), and HMRC have been informed that we have no Corporation Tax to pay.

We will need to file two sets of accounts with HMRC before May 2018 (to cover the long period of 17th May 2016 - 17th May 2017, and the short period of 18th May 2017 - 31st May 2017), but as far as HMRC are concerned, we're up to date for the moment.

The issue no

[2018-04-04 08:04] rub1e commented on #132
UPDATE: Hopefully we shouldn't have to re-sign any documents; I've spoken to Digital Risks and they said they would change the name and update the details. Will close when I've had confirmation.

[2018-05-02 12:12] rub1e opened #135 "EPIC: Winding up Focus Hub ltd"
A list of financey / documenty / suppliery things that have to happen for the winding up of `Focus Hub ltd` and cessation of all FH activities. **Please add to it**

* [x] Stop renewal of Squarespace website account (20th May)
* [x] Stop renewal of focushub domain & bring down website
* [x] File company accounts with HMRC - #133
* [x] File confirmation statement
* [x] Cancel all direct debits
* [x

[2018-05-02 12:21] rub1e opened #136 "EPIC: Leaving Unit 16"
Things we need to do before leaving the Palmers Road and going to Space4. **Please add to it**.

(The corresponding list for financey actions is #135, this is for the physical space.)

* [x] Agree leaving date
  * (last day of the month is Thursday so might be good to use Friday for the move and have everything transferred over ready to start on the Monday)
* Physical stuff
  * [x] Do an inventory

[2018-05-02 12:47] rub1e commented on #132
Sent letter requesting an end to the FocusHub policy on 2/5/18

[2018-05-02 13:45] rub1e opened #137 "Reclaim business rates overpayment"
Spoke to the council. It was like pulling my own teeth. After much debate, they agree we've overpaid for the year starting 1st April 2018.

So the process is that _precisely_ a week before we vacate the premises, we email them telling them our `vacation date` and they'll refund the money to our account.

* [x] Write to `businessrates@towerhamlets.gov.uk` with our NNDR ref in the subject heading
*

[2018-05-08 10:15] rub1e commented on #37
Closing in favour of #136

[2018-05-08 10:15] #37 closed

[2018-05-08 10:19] rub1e commented on #78
Closing as we will now be rule-takers not rule-makers 😉

[2018-05-08 10:19] #78 closed

[2018-05-08 10:50] rub1e commented on #133
Bumping up to `P1` as this needs to be done in the next 3.5 weeks.

Tried to speak to them today (8th May) but I'm in Space4 and I need info that's in a drawer in FocusHub 🤦‍♂️

Update 9/5 - after 20 mins on hold the online account is all sorted, I just need to wait for a code which will arrive next week

[2018-05-08 16:29] rub1e commented on #135
8/5 - FreeAgent is almost totally reconciled, I just need to check one bill, but otherwise no surprises

[2018-05-15 09:29] rub1e commented on #129
Closing because #136

[2018-05-15 09:29] #129 closed

[2018-05-22 11:49] iteles commented on #136
I believe the massive full length mirror downstairs in @jackcarlisle's!

[2018-05-22 12:27] rub1e commented on #133
Update 22/5 - we have access to the system and I've started the Corporation Tax submission, but there are various technical tax questions that I need to get a second opinion on (e.g. do we count as making money from property if we don't own the property), and I've not been able to get hold of our bookkeeper.

[2018-05-29 10:53] rub1e commented on #132
Confirmation of cancellation received

[2018-05-29 10:53] #132 closed, assigned to rub1e

[2018-05-29 12:37] rub1e commented on #137
29/5 - I've emailed the council with all relevant details

[2018-05-29 14:02] rub1e commented on #127
Closing because we've moved out!

[2018-05-29 14:02] #127 closed

[2018-05-29 16:09] iteles commented on #136
Packed over the bank holiday weekend and moved all our wares this morning. Thanks @nelsonic & @rub1e !

[2018-05-29 16:09] rub1e commented on #38
Closing as no more Focus Hub

[2018-05-29 16:09] #38 closed

[2018-05-29 16:10] #128 closed

[2018-05-29 16:11] #112 closed

[2018-05-29 16:14] #134 closed, assigned to rub1e

[2018-05-29 16:14] iteles commented on #25
Closing as we have now moved away from no 16.

No effort made to undertake or document this role or any requirements as requested in https://github.com/dwyl/focus-hub/issues/25#issuecomment-283819565, so there is nothing to reference when closing this issue.

[2018-05-29 16:14] #25 closed

[2018-05-29 16:17] iteles commented on #84
Was never resolved.

No longer relevant #136.

[2018-05-29 16:17] #84 closed

[2018-05-29 16:21] iteles commented on #31
No effort was made with this apart from the very little documented in issues.

Closing as no longer relevant #136

[2018-05-29 16:21] #31 closed

[2018-05-29 16:23] iteles commented on #63
No longer relevant #136

[2018-05-29 16:24] iteles commented on #11
This was sorted. Also, no longer relevant #136

[2018-05-29 16:26] rub1e commented on #134
Closing as the company is being wound up, and there's a new issue for all the finance tasks #135

[2018-05-29 16:31] rub1e commented on #46
Though we got pretty far with this and received a handful of random approaches as a result, this is closed because we're winding up FocusHub

[2018-05-29 16:33] rub1e commented on #112
**Narrator**: They did not, in fact, rekindle this.

Closing because FocusHub is now closed

[2018-05-29 16:35] rub1e commented on #57
The `PR` was merged months ago - I should have closed this then

[2018-05-29 16:36] rub1e commented on #128
Closing because FocusHub is closed

[2018-05-29 16:37] rub1e commented on #38
We didn't get as far as getting quotes for this because the move to Space 4 reared its lovely head and this was deprioritised

Closing as FocusHub is now closed

[2018-05-29 16:41] rub1e commented on #136
The thank you implies that I helped, whereas actually I arrived probably less than a minute after Ines & Nelson had finished unloading the van 😏

Closing because the last item (inventory) is now done (and we've successfully left no 16!)

[2018-05-29 16:41] #136 closed, assigned to rub1e

[2018-05-29 20:41] iteles opened #138 "Mini blog post to close off README"
With our move in London away from #136, I'm keen to capture the lessons learned from #FocusHub. This would make sense as part of the readme for this repo, in closing.

## Tasks
+ [ ] Review existing readme to understand where this would fit
+ [ ] Context paragraph
+ [ ] Review issues
+ [ ] Write short 'blog post'

@rub1e and anyone else who would like, any contributions?

[2018-05-30 13:54] rub1e commented on #133
30/5

The tax return was very straightforward - as it was only for the `short period` of 17th to 31st May 2017.

I'm slightly concerned as I was expecting to be filing for the whole of 16/17 (`long period`) - so I'll call them back tomorrow once today's submission has been registered.

I've documented this where the Userid and Password are stored, but anyone reading this might want to know this li

[2018-06-05 10:04] rub1e opened #139 "Refunding deposits for members"
Part of #135

Just to document this: the deposits were all over the place.

Some were for 1.5 months rent, some for 1 month, one for some fraction of a month...

Fortunately it was captured *somewhere* - in the `Legals` folder, rather than in the `Tenants` folder - and not referred to anywhere else, which of course wasted our time a bit.

Refund deposits:
* [x] HoL
* [x] SM
* [x] BG
* [x] RT
* [x]

[2018-06-05 10:19] rub1e commented on #133
The submission was accepted six days ago and we've not had any messages in our online account - it only takes two days to process the submission so I'll wait a couple more days just to be sure and then I'm happy to close this off.

[2018-06-05 10:36] rub1e commented on #135
Update on utilities

* ~Water is cancelled but final invoice is quite hefty so I'll have to query it~ Water is cancelled and they actually owe us money. They couldn't find Space 4 on the system so the final confirmation is being posted to FAC c/o Outlandish.
  * Check if not heard back w/c 18th June
* We've requested internet be cancelled, but it's been tricky because Mark William Firth transferre

[2018-06-05 13:27] iteles opened #140 "Focus Hub FY17/18 accounts"
We'll need to submit accounts for the 2017/2018 financial year, following on from #133 and as a part of #135.

## Tasks
+ [x] Submit financial accounts for FY17/18
+ [x] Submit corporate tax return for FY17/18
+ [x] Document process

[2018-06-06 13:04] rub1e commented on #139
Deposits have all been returned, and credit notes sent out.

[2018-06-06 13:04] #139 closed, assigned to nobody

[2018-06-13 08:56] rub1e commented on #135
Downgrading to `Priority-2` because all the imminently mission-critical tasks have been completed, and it's just a task of chasing confirmations now

[2018-06-13 10:03] rub1e commented on #133
13/6 - Just checked and we have no alerts or messages, so closing this off now

I'll document anything important as part of #140 or #135

[2018-06-19 10:04] rub1e commented on #140
And we've just received the request for CT return from HMRC, for the period 1/6/2017 >> 31/5/2018 (but no deadline as of yet)

[2018-06-19 10:49] iteles commented on #140
@rub1e Yes, they send them out super early!
Deadline isn't til 2019 but no sense in delaying it. Once we file the accounts we can get this in straight away.

[2018-06-26 15:18] rub1e commented on #137
26/6 - spoke to the council as they hadn't responded at all. Turns out they'd received the letter but done nothing whatsoever about it, including not cancelling the direct debit (which I made them do now so we don't get charged in July).

They need some info on the landlord before they can close the account, so I'll get that from TH and send over so we can reclaim our overpayments

27/6 - This wil

[2018-07-10 10:43] rub1e commented on #133
As if this wasn't already tedious enough, HMRC have now charged us a penalty of £100 for filing a late return, even though I have the submission receipt from a day before the deadline.

So I'll see if I can get them to cancel the penalty over the phone, but failing that we'll have to provide a written appeal

[2018-07-10 11:17] rub1e commented on #133
😠

Per https://github.com/dwyl/focus-hub/issues/133#issuecomment-393170803, I thought I had to file two returns but was categorically told I only had to do one (the short period) by HMRC

I've now just spoken to the penalty people and the nice man said that's total nonsense and we do in fact have to do the long period as well.

He said I should file the long return as originally planned, and then

[2018-07-10 14:06] rub1e commented on #133
I've filed the return. It's really not that hard with FreeAgent calculating everything. It is, however, stressful - especially when you've spend half an hour looking for a £1 discrepancy before deciding it's down to rounding.

I'll draft the appeal now and send it later today

[2018-07-11 12:29] rub1e commented on #133
Penalty appeal letter drafted and shared with @iteles

Once approved will be sent via registered mail to HMRC

*Quietly confident*

[2018-07-11 12:44] iteles commented on #133
@rub1e Reviewed! I took a little of the _mea culpa_ out of it because you're too nice and honestly, it's _their_ 'culpa', given they told you to only submit one return.

Ready to go :shipit:

[2018-07-11 13:06] rub1e commented on #133
Yeah, good amends. I was trying to balance taking ownership with apportioning blame 😁

[2018-07-12 13:08] rub1e commented on #133
Sent

[2018-07-17 15:50] rub1e commented on #135
OPUS Energy update: would you believe that talking to HMRC isn't a chore at all, but this lot... The upshot seems to be that they've mixed FAC up with us, but we can't check that until we have the meter numbers - so I've written to the landlord for the meter numbers at both no14 & no16.

The saga continues 🙄

[2018-07-25 11:53] rub1e commented on #133
I've just tried to check with HMRC that they've received the appeal letter - they claim they haven't, but I have the confirmation from Royal Mail that it was signed for and collected

So

I'm going to send it again tomorrow if they've not got it yet BUT I'm just going to pay the £100 penalty so we don't get chased in the meantime

(The HMRC lady said that it would just be refunded if we won the ap

[2018-07-25 16:00] rub1e commented on #135
It. Just. Won't. Die.

You could say this has been my `Magnum Opus` 😆

After *some* discussion, Opus have agreed to just send us our final bill as they think they've sorted out the confusion between no 14 & no 16. I'm still going to have to check it looks sensible, but hopefully that will mark the end of this grand epic.

Total shambles though - I think they've been double-charging the new tenants

[2018-07-31 10:10] rub1e commented on #137
Only a couple of months after this all began, and they've responded to our request to vacate premises - they want more info, including directing me to a form that I could have filled out in May.

Will follow up in a couple of weeks

[2018-07-31 10:50] rub1e commented on #137
Ref: FS83315109

[2018-07-31 14:01] rub1e commented on #133
The nice man from HMRC helped me get to the bottom of this. They never received the appeal because the appeal was delivered to the wrong place by the Royal Mail, but it was signed for - so as far as we knew, it had been delivered.

So now I'm going to re-print the original appeal with a note at the top explaining the situation, along with our Royal Mail tracking code to prove that we did originall

[2018-07-31 14:02] rub1e commented on #133
(He also said that I didn't need to bother with paying the penalty, it makes no difference to the appeal and they're not going to put a black mark next to our names if we don't)

[2018-08-28 12:27] rub1e commented on #133
Boom - confirmation that we're off the hook and have nothing to pay

![image](https://user-images.githubusercontent.com/11595920/44723316-8c11f100-aac7-11e8-9158-46411cfda930.png)

[2018-08-28 12:40] rub1e commented on #133
Now this is out of the way, this issue can be re-closed as there's nothing more to be done with the `16/17` accounts

[2018-08-28 12:40] #133 closed, assigned to rub1e

[2018-09-11 16:12] rub1e commented on #135
Utilities:

* TalkTalk still haven't cancelled our account. Turns out they needed more documentation so they sent the request to Dan's email instead of mine. That was in July. They didn't bother following up. And would you believe it - despite admitting their error, they're insisting we have to go through the whole process again and give 30 days' notice of cancellation - so we'll defo get charged

[2018-09-11 16:19] rub1e commented on #137
Chased again, nothing. Will give them a call

UPDATE: they've replied asking for the name of the landlord, which I sent in July. They sent me a form to  fill in, but the link is putting up a `502` error. 🙄

[2018-09-11 16:59] iteles commented on #135
@rub1e That TalkTalk thing is absolutely unacceptable. I am happy to speak to the manager of whatever idiot you spoke to to get this sorted.

I can't believe we've paid an additional 3 months of bills that we didn't need to. This is monumentally ridiculous.

[2018-09-12 09:16] rub1e commented on #135
Good reaction - I'm also fuming.

The issue isn't that they're dragging their heels, it's that they don't recognise me as someone who's able to make changes to the account - this is because *someone* (whose job title on linkedin is now "startup consultant" 🤢 ) never changed the email address on the account to a `dwyl` one (so we have to communicate through Dan's email), and didn't save the account

[2018-09-12 15:39] rub1e commented on #135
Spoke to Opus, they said our account has been closed. I pointed out that they'd charged us last month. Lady says "Yeah, that charge was reversed, we've credited your account".

BUT THE ACCOUNT IS CLOSED

"Oh yeah. We can pay it back to your bank if you like?"

👏

[2018-09-18 13:11] rub1e commented on #137
Tower Hamlets have said they'll pay us back some money, but they've not said how much - so will have to monitor the account to see when it comes in, and compare with what I think we're owed for overpayments

[2018-09-25 16:42] rub1e commented on #135
From the `gov.uk` guidance on winding up:

* We have to file final accounts with HMRC _but not Companies House_`
* There doesn't seem to be any special process for this: we file as normal, but state that they're final accounts
* We can either `liquidate` the company or have it `struck off` the register. The latter seems much easier, and all that's needed is for us to have not traded in the past th

[2018-10-02 16:26] rub1e commented on #135
Just an update on https://github.com/dwyl/focus-hub/issues/135#issuecomment-420574481

* Letter has been sent to TalkTalk (a strongly worded letter)
* Slight issue that it was only sent today as I guess Dan doesn't check that account often so he hadn't logged the request to send from his email. (But hopefully the strong wording of the letter will encourage them to act quickly)

And an update on ge

[2018-10-09 12:38] rub1e commented on #135
I've now actually reconciled all outstanding items (thought I'd done most of this but it turns out FreeAgent hides transactions which need to be reviewed ☹️ . But that's not our problem any more 😄 ! )

Both P&L and Balance Sheet reports have been exported and saved in `Focus Hub > Finances` for 17/18 and 18/19

Which means this should all be good to go once I've updated it with the TalkTalk refund

[2018-10-09 12:49] rub1e commented on #137
My mistake - Tower Hamlets did actually send us documentation along with the payment, which has been received and reconciled.

Closing the issue as it was just split out from #135 and it's now complete

[2018-10-09 12:49] #137 closed, assigned to rub1e

[2018-10-16 14:16] rub1e commented on #140
I don't know why this didn't occur to me earlier, but our FH year runs till May, and all transactions are reconciled for that period, so I can just submit the accounts for 17/18 *now*

HOWEVER

![image](https://user-images.githubusercontent.com/11595920/47022889-5fd53100-d156-11e8-993e-b73bf5849fae.png)

I found this when I logged in and that shouldn't be the case, so I'm going to call HMRC before

[2018-10-16 15:46] iteles commented on #140
@rub1e Thanks for checking with them and for getting on with the filing 🎉 Makes me happy we'll have a timestamped record of us finding out (with a screenshot) and the version-controlled, timestamped update of your conversation where they said it was fine! Gotta love the process 😉

[2018-10-16 15:53] rub1e commented on #140
Ha - just as long as I don't have to make the call and ask "Do you accept github at all?" 😁

Although I should say - I did refer to github for dates at least twice while on the phone to them - so the system does indeed work!

[2018-10-16 16:12] rub1e commented on #140
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/415037/CT600_Guide.pdf

[2018-10-16 16:29] rub1e commented on #140
This is a bit of a nightmare 🙀

* Apparently you need to enter last year's figures again at the same time as this year's P&L
* But "last year" is actually the whole company P&L, which is 12 months + 9 days...
* ... and FreeAgent reports only let you filter to the financial year, not custom dates
* As above, HMRC isn't displaying all of our previous submissions...
* ... and Companies House just has

[2018-10-17 10:23] rub1e commented on #140
Everything's ok - turns out the FreeAgent report actually contains those missing 9 days, but the only place they included that information was... in the URL string! I only noticed this by chance - but crisis averted!

[2018-10-17 10:44] rub1e commented on #140
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/726188/CT600_Version_3_guide__003_.pdf

[2018-10-17 12:44] rub1e commented on #140
I've added all the figures to the tax return now. I've saved it and will check it over fully before submitting

One annoying niggle was the way FreeAgent displays the balance sheet and debtors, which required me to go through a printout manually (can't export to CSV, only PDF) and tick off payments against invoices to find a discrepancy. It was among the more boring 20 mins of my life. Thank god w

[2018-10-23 11:33] rub1e commented on #140
LIES! Turns out I'd only done the topline figures - there's another very granular section which requires a breakdown of how much we've spent on e.g. Heat & Light, or Accounting software etc.

As per https://github.com/dwyl/hq/issues/339, this isn't something that is an issue in Xero as we already use the right categorisations, but in FreeAgent it requires manually adding up spend in each category,

[2018-10-24 09:38] rub1e commented on #140
The return has now been filed with HMRC and Companies House, and the whole process is documented in https://github.com/dwyl/process-handbook/pull/125.

I'll update and close this issue once the accounts have been accepted in the next 48hrs hopefully.

[2018-10-30 11:04] rub1e commented on #140
OK so CH had accepted it but HMRC hadn't because I'd entered the wrong password (which fans of this process [might remember](https://github.com/dwyl/focus-hub/issues/133#issuecomment-393170803) is the usual HMRC password minus the final two characters)

We've had receipt of the submission so will close when this is accepted in the next 2-30 days

[2018-10-30 15:31] rub1e commented on #135
You probably won't believe this, but after 27 mins on the phone TalkTalk have decided that now we need to send them the same email I've already sent them twice, but on company headed paper.

Oh but not actually on company headed *paper* - they want me to put it on company headed paper, print it off, scan it, and then email it to them.

Which I shall do, along with an intro note which says that if

[2018-10-30 16:08] rub1e commented on #135
Cherry on top: we have a dwyl logo for our dwyl letterhead, but no FocusHub logo. So I was just going to write "FH" in the header, but then I realised that they still have us down as QuietSpace, cos 👻 never changed it.

So I've had to make a fake letterhead with a fake logo for a company that doesn't exist. And all this in the name of <squints> `Fraud Protection` 😂 😢

![screenshot 2018-10-30 at 16

[2018-10-30 20:24] iteles commented on #135
We do have a logo, I just have no idea where it was filed (much like the rest of last year's material).

@rub1e I think you used it for our door signs... https://github.com/dwyl/focus-hub/issues/74 😊

[2018-10-31 09:37] rub1e commented on #135
Yeah but not for QS - which is what they've got us down as - with Mark's name as the account holder and Dan's email address 🙄

TBH I think my solution, simply using the `caveat` font, was even more efficient than looking for a logo!!

[2018-10-31 11:44] rub1e commented on #135
My threat of court may have worked as they've replied, but now they claim there's no evidence that I tried to cancel before so they're not going to refund the money.

I'll persevere. I've not got evidence of the phone calls, but they've referred to at least one previous email on the phone, so I know that was received.

Ultimately the only way might be a Subject Access Request for the notes on the

[2018-10-31 12:50] iteles commented on #135
@rub1e Can you refer them to this open source issue with timestamps?
~This is getting ridiculous.~ This interaction has been ridiculous for months.

[2018-10-31 12:59] rub1e commented on #135
Yeah I was checking about that - I mean, sure, but if they want to disregard it, they'd be well within their rights - given it's just text. This is the sort of thing you'd bring to small claims court - but we really don't need that hassle IMO

I've demanded a call from a manager - I reckon arguing the toss with a real human is our best bet

We've exchanged three emails and they keep calling me Dan

[2018-10-31 13:28] rub1e commented on #135
Computer says "no"... but the nice human I spoke to said "I'm so sorry, I can't understand why this has taken so long, we'll refund you in full, but that might take a month to process so in the meantime I'll confirm this in writing just in case you have any further trouble. Once again, I'm so sorry. Would you still like a call from a senior manager? If so I'll sort that out"

You might think this

[2018-11-06 10:17] rub1e commented on #140
![screenshot 2018-11-06 at 10 13 42](https://user-images.githubusercontent.com/11595920/48057846-f1135280-e1ac-11e8-92d7-f9a5ba932304.png)

I'm not 100% convinced that "submission complete" `===` "accounts accepted" so I'll leave this open until we've had formal confirmation

[2018-11-13 10:34] rub1e commented on #135
Now we're just waiting for the TalkTalk refund and the only other charges will be bank charges / interest, so I'll reconcile anything outstanding, export all the data, and cancel our FreeAgent account next week before it renews so we're not paying for it unnecessarily.

[2018-11-19 08:34] rub1e commented on #135
We've not received the TT refund yet (not that we were expecting to before the end of Nov) so I'll pull the data and cancel the subscription now before it renews tomorrow

[2018-11-19 09:34] rub1e commented on #135
I've saved all of the files exports and @iteles has cancelled the FocusHub account, so once the TT refund has come in we can pick this up again and file our final accounts.

Dropping this down to `P3` until then.

[2018-12-05 10:43] rub1e commented on #135
Just checked the FH account - nada yet. I'll check it next time I'm logged into Santander and if the refund isn't in there, I'll call them again. Really want to get this closed

[2018-12-05 11:58] iteles commented on #135
@rub1e Can we please add the filing of the FY17/18 and FY18/19 accounts to the checklist at the top for clarity?

[2018-12-11 10:15] rub1e commented on #140
We're past the 30 day period where HMRC can come back to you about your submission, so closing this issue as it's complete

[2018-12-11 10:15] #140 closed, assigned to rub1e

[2018-12-11 11:12] rub1e opened #141 "FocusHub domain cancellation"
For some reason, we have `focushub.co.uk` until March 2020

Just want to check before I set it to not renew then - there's no reason we'd want to keep the domain, is there @iteles?

[2018-12-11 14:32] iteles commented on #141
🤦‍♀️ Absolutely none.

[2018-12-11 15:13] rub1e commented on #141
Done.

We have until April 20th 2020 to reconsider this hasty decision

[2018-12-11 15:13] #141 closed, assigned to rub1e

[2018-12-12 17:49] rub1e commented on #135
TalkTalk STILL haven't paid us so I'll give them a call when I have a moment - increasingly frustrated

[2019-01-02 13:31] rub1e commented on #135
They just needed a nudge - 7-10 days and we're done

![screenshot 2019-01-02 at 13 28 29](https://user-images.githubusercontent.com/11595920/50593968-858af000-0e92-11e9-8ff5-3f762d2be4cb.png)

Super excited that this might finally be ready to be closed 🤞

[2019-01-02 13:34] rub1e commented on #138
Now we're almost there with #135 I'll give this some thought.

Do you have an example of the sort of final product you're expecting, in another repo perhaps?

[2019-01-20 18:01] iteles commented on #138
No examples, but if you were doing it over again, what would you make sure was done?

For example, I think we learnt pretty early on that having someone physically in the space for a large proportion of the week to anchor it makes a big difference. Why is this?

This needs some thought and a little brain aching to come up with valuable insights, consider if you want to work from home for a morning

[2019-01-23 17:07] rub1e commented on #135
More fool me for believing them. I've now escalated this to the guy who sorted it out for us October.

We've got till the 7th Feb to get this done before we our monthly banking fee hits us again

Also, I've spoken to Santander and they say that because the FH account only has one signatory, they should be able to close the account over the phone instead of us having to send documents to Europe and

[2019-01-25 09:19] rub1e commented on #135
![image](https://user-images.githubusercontent.com/11595920/51736208-65111880-2081-11e9-84f2-6885e9425920.png)

The highlighted portion set me off a bit. So I explained the concept of promissory estoppel and pointed out that they have made promises to us twice in writing.

I've given them two options - either pay into our bank account by the end of the month; or send a cheque payable to dwyl (than

[2019-10-22 14:02] rub1e opened #142 "Closing FH business bank account"
I'm afraid I can't do this myself as it require signatures :frowning_face:

Please @iteles fill in [this PDF](https://www.santander.co.uk/assets/s3fs-public/documents/santander_account_closure_request_form.pdf) and then email it back to me and I can post it or take it down to a branch asap

Probably safest if you get Nelson to sign it as well just in case they send it back like last time!

[2019-10-28 13:54] iteles commented on #142
I'm calling Santander first because I have a sneaky suspicion that in 2017 when the directors of the company were changed, no one bothered to change the signatories on the account.

Will confirm the signatories needed & get this done today.

[2019-10-28 13:57] iteles commented on #142
Yea. As I suspected. The signatories are myself and @sofer .

@rub1e It's a little more complicated with me because a copy of your ID is needed and as you know, my last name has changed. But I'll get everything to you today and let's try to get @sofer's signature as a back up too please :)

I'll transfer the remaining balance out today (owed to dwyl) as well so it avoids any further issues there.

[2019-11-01 11:24] iteles commented on #142
@rub1e Sent you ALL the required docs but it might be easier, if only 1 signatory is required, to use just @sofer's because of my name change (the documentation for it is in Portuguese and this may cause delays).

Also transferred the money out!

Over to you ☺️

[2019-11-06 18:17] nelsonic commented on #10
In case anyone is reading this wondering, the JapanNext monitor was returned to the seller.

[2019-11-13 18:22] iteles commented on #142
Closed! Now we can FINALLY proceed with #135

Thanks for sending in the paperwork @rub1e

[2019-11-13 18:22] #142 closed, assigned to rub1e

[2020-01-29 18:52] iteles commented on #135
FY18/19 accounts & CT600 filed with both HMRC and Companies House & saved to relevant folder in Google Drive.

Onto the next lot.

[2020-02-10 16:15] iteles opened #143 "Annual confirmation statement"
Confirm whether this is required, based on getting #135 completed.

Follow process [here](https://github.com/dwyl/process-handbook/blob/master/Finances/annual-confirmation-statement.md) and file.

[2020-11-30 16:42] iteles commented on #135
https://www.gov.uk/strike-off-your-company-from-companies-register/close-down-your-company
https://www.gov.uk/liquidate-your-company/members-voluntary-liquidation

[2022-10-18 15:31] iteles commented on #135
This was done. New company already registered with the name too!

<img width="632" alt="image" src="https://user-images.githubusercontent.com/4185328/196475850-3904f6d7-eab4-4c0a-9f58-01faa92d4042.png">

[2022-10-18 15:31] #135 closed, assigned to iteles